<%= form_with(model: article_type, html: {
  'data-article_type-target': 'form', 'data-action': 'article_type#submitForm'}) do |form| %>
  <div class="row">
    <div class="col-md-8">
      <div class="mb-3 alert alert-danger alert-dismissible fade show" style="display: <%= article_type.errors.present? ? 'block' : 'none' %>;" role="alert">
        <% article_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
        <button type="button" class="btn-close" onclick="$('.alert').hide()" aria-label="Close" style="font-size: 12px; "></button>
      </div>
      <div class='mb-3'>
        <label class='form-label'>
          नाम <i class="fa fa-asterisk req-field" aria-hidden="true"></i>
        </label>
        <%= form.text_field :name, class: 'form-control', required: '' %>
      </div>

      <div class='text-center mt-3 actions'>
        <div class="row">
          <div class="col-md-4">
            <% if form.object.id.blank? %>
              <%= form.submit "रचना प्रकार जोड़े", class: 'btn btn-lg btn-primary form-control' %>
            <% else %>
              <%= form.submit "रचना प्रकार अद्यतन करे", class: 'btn btn-lg btn-primary form-control' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
