<% if articles.present? %>  
  <% articles.each_with_index do | article, index | %>
    <div class="row p-2 article-box mb-3">
      <div class="col-md-4 ps-0">
        <img src="/assets/shrihit.png" class="article-img" alt="Avatar">
      </div>
      <div class="col-md-8">
        <div class="row mb-2">
          <div class="col-md-12 article-title">
            <%= link_to public_article_path(article.hindi_title), class: "txt-chocolate fnt-sz-22" do %>
              <%= article.hindi_title %>
            <% end %>
          </div>
        </div>
        <div class="row pb-3">
          <%= link_to public_article_path(article.hindi_title) do %>
            <div class="article-text">
              <%= raw article.content %>
            </div>
          <% end %>
        </div>
        <span class="badge bg-primary"><%= article.article_type.name %></span>
        <span class="badge bg-danger"><%= article.author.name %></span>
        <span class="badge bg-secondary"><%= format_dt(article.created_at) %></span>
      </div>
    </div>
    <hr>  
  <% end %>
  <div id="paginate-block">
    <%= paginate articles %>
  </div>
<% else %>
  <div id="paginate-block">
    There is no data available now.
  </div>
<% end %>