<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div>
        <%= link_to(new_public_suggestion_path, class: "btn btn-primary fRight") do %>
          नया सुझाव <i class="fa fa-plus" aria-hidden="true"></i>
        <% end %>
      </div>
      <div class="card-body">
        <div class="card article-type-title">
          सुझाव सूची
        </div>
        <div class="dropdown-divider"></div>
        <div class="suggestion-container" data-controller= ''>
          <table class="table">
            <thead class="table-primary">
              <tr>
                <th scope="col">#</th>
                <th scope="col">सुझाव</th>
              </tr>
            </thead>
            <tbody>
              <% page = params[:page].blank? ?  0 : (params[:page].to_i - 1)%>
              <% if @suggestions.present? %>
                <% @suggestions.each_with_index do | suggestion, index | %>
                  <tr class="suggestion-item">
                    <th scope="row"><%= (page * @page_size) + (index + 1) %></th>
                    <td>
                      <a href="<%= public_suggestion_path(suggestion)%>">
                        <%= suggestion.title %>
                      </a>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="2">
                    कोई सुझाव उपलब्ध नहीं है
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <%= paginate @suggestions, remote: true %>
</div>