<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div>
        <%= link_to(new_public_suggestion_path, class: "btn btn-primary fRight") do %>
          नया सुझाव <i class="fa fa-plus" aria-hidden="true"></i>
        <% end %>
      </div>
      <div class="card-body">
        <div class="card article-type-title page-subject-header">
          सुझाव सूची
        </div>
        <div class="suggestion-container" data-controller= ''>
          <table class="table">
            <thead class="table-primary">
              <tr>
                <th scope="col">#</th>
                <th scope="col">सुझाव</th>
              </tr>
            </thead>
            <tbody>
              <% 
                page = params[:page].blank? ?  0 : (params[:page].to_i - 1)
                page_size = @suggestions.present? ? @suggestions.limit_value : 0
              %>
              <% if @suggestions.present? %>
                <% @suggestions.each_with_index do | suggestion, index | %>
                  <tr class="suggestion-item">
                    <th scope="row"><%= (page * page_size) + (index + 1) %></th>
                    <td>
                      <a href="<%= public_suggestion_path(suggestion)%>">
                        <%= suggestion.title %>
                      </a>
                      <% if suggestion.is_approved.nil? %>
                        <div class="sgstion-status pending text-warning">Pending</div>
                      <% elsif suggestion.is_approved %>
                        <div class="sgstion-status approved text-success">Approved</div> 
                      <% else %>
                         <div class="sgstion-status rejected text-danger">Rejected</div>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="2">
                    कोई सुझाव उपलब्ध नहीं है
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="row">
          <%= paginate @suggestions, remote: true if @suggestions.present? %>
        </div>
      </div>
    </div>
  </div>
</div>
