<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <div class="card article-type-title">
          नया सुझाव
        </div>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4" data-controller= ''>
          <%= form_with(model: [:public, @suggestion], html: {
            'data-suggestion-target': '', 'data-action': ''}) do |form| %> 
            <div class="mb-3 alert alert-danger alert-dismissible fade show" style="display:  <%= @suggestion.errors.present? ? 'block' : 'none' %>;" role="alert">
              <% @suggestion.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
              <button type="button" class="btn-close" onclick="$('.alert').hide()" aria-label="Close" style="font-size: 12px; "></button>
            </div>
            <div class='mb-3'>
              <label class='form-label'>Email</label>
              <%= form.text_field :email, class: 'form-control' %>
            </div>
            <div class='mb-3'>
              <label class='form-label'>नाम</label>
              <%= form.text_field :username, class: 'form-control' %>
            </div>
            <div class='mb-3'>
              <label class='form-label'>सुझाव का शीर्षक</label>
              <%= form.text_field :title, class: 'form-control' %>
            </div>
            <div class='mb-3'>
              <%= form.text_area :description, class: 'tinymce' %>
            </div>
            <div class='text-center mt-3 actions'>
              <%= form.submit class: 'btn btn-lg btn-primary form-control' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/suggestion-custom" %>
<% end %>