<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <div class="card row">
          <div class="col-md-12">
            <a href="<%= public_articles_path%>" class="article-title text-primary">
              सुझाव : <%= @suggestion.title %>
            </a>
            <% if @suggestion.is_approved.nil? %>
              <button class="btn btn-warning fRight">Pending</button>
            <% elsif @suggestion.is_approved %>
              <button class="btn btn-success fRight">Approved</button> 
            <% else %>
               <button class="btn btn-danger fRight">Rejected</button>
            <% end %>
          </div>
          <div class="col-md-12">
            <div class="contributer-text">
              (योगदानकर्ता : 
                <strong>
                  <% if @suggestion.user_id.present? %>
                    <%= link_to @suggestion.user.username, public_user_profile_path(@suggestion.user_id) %>
                  <% else %>
                    <%= @suggestion.username.capitalize %>
                  <% end %>
                </strong>, 
                Created at : 
                <strong class="text-primary">
                  <%= @suggestion.created_at.strftime("%B %d, %Y")%>
                </strong>,
                रचना प्रकार - 
                <strong class="text-primary">
                  सुझाव
                </strong>
              )
            </div>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="suggestion-description" data-controller= ''>
          <%= raw @suggestion.description %>
        </div>
        <div class="dropdown-divider"></div>
        <%= link_to "Back to suggestions", public_suggestions_path, class:"btn btn-primary"%>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>