<br>
<div class="ui internally grid">
  <div class="row">
    <div class="five wide column"></div>
    <div class="six wide column">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: 'ui form'}) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <h4 class="ui center aligned top attached header">Sign in Form</h4>
        <div id="form-segment" class="ui attached segment">
          <div class="field">
            <%= f.label :email %>
            <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autofocus: true %>
          </div>
        </div>
        <button class="ui bottom attached fluid button primary" type="submit">Log In</button>
        <div id="form-message" class="ui attached message">
          If you not registered, please click <a href="<%= new_user_registration_path %>">here</a>.
          <div>
            <a href="<%= new_user_password_path %>">Forget your password?</a>
          </div>
        </div>
      <% end %>
    </div>
    <div class="five wide column"></div>
  </div>
</div>