<% if @chapters.present? %>
  var options = '<option value="">अध्याय को चुनिये</option>';
  <% @chapters.each do | chapter | %>
    <% if chapter.scripture_articles.present? %>
      options = options + '<option value="<%= chapter.id %>" style="color:red;"><%= chapter.name %></option>'
    <% else %>
      options = options + '<option value="<%= chapter.id %>"><%= chapter.name %></option>'
    <% end %>
  <% end %>
  $("#scripture_article_chapter_id").html(options);
  $("#scripture_article_chapter_id").prop('disabled', false);
<% else %>
  $("#scripture_article_chapter_id").val('');
  $("#scripture_article_chapter_id").prop('disabled', true);

  <% if @last_article.present? %>
    $("#scripture_article_index").val(<%= @last_article.index + 1 %>);
  <% else %>
    $("#scripture_article_index").val(1);
  <% end %>
<% end %>

