<% approved_cls = article.is_approved ? "text-success" : "" %>
<tr class="<%= approved_cls %>">
  <td><%= index %></td>
  <td data-admin-article-target="articleForApproval" data-vl="<%= article.id %>">
    <a href="<%= article_path(article.id) %>" class="<%= approved_cls %>">
      <%= article.hindi_title %> 
    </a>
  </td>
  <td>
    <a href="<%= author_path(article.author.id) %>" class="<%= approved_cls %>">
      <%= article.author.name %>
    </a>
  </td>
  <td>
    <%= article.article_type.name %> 
  </td>
  <td>
    <%= article.user.username %> 
  </td>
  <td>
    <%= article.is_approved? ? "स्वीकृत" : "अस्वीकृत" %>
  </td>
</tr>