<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">S. No.</th>
      <th scope="col">नई रचना</th>
      <th scope="col">रचनाकार</th>
      <th scope="col">रचना प्रकार</th>
      <th scope="col">योगदानकर्ता</th>
      <% if action_name == "pending" %>
        <th scope="col">स्वीकृत/अस्वीकृत</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if articles.present? %>
      <% articles.each_with_index do |article, index| %>
        <tr>
        	<td><%= index +1 %></td>
        	<td data-admin-article-target="articleForApproval" data-vl="<%= article.id %>">
            <a href="<%= article_path(article.id) %>">
              <%= article.hindi_title %> 
            </a>
          </td>
          <td>
            <a href="<%= author_path(article.author.id) %>">
              <%= article.author.name %>
            </a>
          </td>
        	<td>
            <%= article.article_type.name %> 
          </td>
          <td>
            <%= article.user.username %> 
          </td>
          <% if action_name == "pending" %>
            <td>
          		<input type="button" value="स्वीकृत" data-index="<%= index %>" data-page="<%= params[:page]%>" data-action-name="approve" data-action="click->admin-article#approveOrApproveArticle"  class="btn btn-primary"/>
            	<input type="button" value="अस्वीकृत" data-index="<%= index %>" data-page="<%= params[:page]%>" data-action-name="reject" data-action="click->admin-article#approveOrApproveArticle" class="btn btn-danger"/>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <td colspan="3">
      	अभी रिकॉर्ड उपलब्ध नहीं है.
      </td>
    <% end %>
  </tbody>
</table>