<div class="row" data-controller="dashboard">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body h-400">
		    <span class="col-md-6 text-start article-title text-primary">
		      रचनाकार / कवि / भक्त सूची 
		    </span>
		    <div class="dropdown-divider"></div>
      	<input type=hidden name="authenticity_token" value="<%= form_authenticity_token %>" data-dashboard-target="csrfToken">
      	<div id="article_list">
	      	<table class="table">
					  <thead class="table-dark">
					    <tr>
					      <th scope="col">S. No.</th>
					      <th scope="col">नई रचना</th>
					      <th scope="col">रचनाकार</th>
					      <th scope="col">रचना प्रकार</th>
					      <th scope="col">योगदानकर्ता</th>
					      <th scope="col">स्वीकृत/अस्वीकृत</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<% 
					  		page = (@articles.current_page - 1)
					  		per_page = @articles.limit_value 
					  	%>
					    <% if @articles.present? %>
					      <% @articles.each_with_index do |article, index| %>
					      	<% approved_cls = article.is_approved ? "text-success" : "" %>
					        <tr class="<%= approved_cls %>">
					        	<td><%= (page * per_page) + (index + 1) %></td>
					        	<td data-admin-article-target="articleForApproval" data-vl="<%= article.id %>">
					            <a href="<%= article_path(article.id) %>" class="<%= approved_cls %>">
					              <%= article.hindi_title %> 
					            </a>
					          </td>
					          <td>
					            <a href="<%= author_path(article.author.id) %>" class="<%= approved_cls %>">
					              <%= article.author.name %>
					            </a>
					          </td>
					        	<td>
					            <%= article.article_type.name %> 
					          </td>
					          <td>
					            <%= article.user.username %> 
					          </td>
				            <td>
				          		<%= article.is_approved? ? "स्वीकृत" : "अस्वीकृत" %>
				            </td>
					        </tr>
					      <% end %>
					    <% else %>
					      <td colspan="3">
					      	अभी रिकॉर्ड उपलब्ध नहीं है.
					      </td>
					    <% end %>
					  </tbody>
					</table>
	      </div>
	      <div id="paginate-block">
      		<%= paginate @articles, remote: true %>
      	</div>
			</div>
		</div>
	</div>
</div>