<div class="row" data-controller="dashboard">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body h-400">
				<span class="col-md-12 text-start article-title text-primary">
		      रचनाकार / कवि / भक्त सूची 
		    </span>
		    <div class="btn-group fRight">
		    	<a href="javascript:void(0);" class="text-white btn btn-primary">
				  	<i class="fas fa-list"></i> Index
				  </a>
			  	<a href="<%= approved_articles_admin_articles_path %>" class="text-white btn btn-success">
				  	<i class="far fa-check-circle"></i> Approved
				  </a>
			  	<a href="<%= pending_articles_admin_articles_path %>" class="text-white btn btn-warning">
				  	<i class="far fa-hourglass-half"></i> Pending
				  </a>
				</div>
		    <div class="dropdown-divider"></div>
      	<input type=hidden name="authenticity_token" value="<%= form_authenticity_token %>" data-dashboard-target="csrfToken">
      	<div id="article_list">
      	  <%= render "article", articles: @articles %>
	      </div>
	      <div id="paginate-block">
      		<%= paginate @articles, remote: true if @articles.present?%>
      	</div>
			</div>
		</div>
	</div>
</div>