<tr>
	<th scope="row">
		<%= local_assigns[:index] %>
	</th>
	<td>
		<%= link_to article do %>
			<%= article.hindi_title %>
		<% end %>
	</td>
	<td>
		<%= article.author.name %>
	</td>
	<td>
		<%= article.user.username.capitalize %>
	</td>
	<td>
		<%= article.is_approved ? 'स्वीकृत' : 'लंबित' %>
	</td>
	<td style="display:inline-block">
		<div class="row">
			<div class="col-md-2">
				<%= link_to article do %>
				  <i class="fa fa-eye"></i>
				<% end %>
			</div>
			<div class="col-md-2">
				<%= link_to edit_article_path(article) do %>
				  <i class="fa fa-edit"></i>
				<% end %>
			</div>
			<div class="col-md-2 text-primary">
				<%= link_to tags_article_path(article) do %>
		  		<i class="fa-solid fa-tags"></i>
		  	<% end %>
		  </div>
			<div class="col-md-2">
				<%= form_for(article, html: { method: :delete, onSubmit: "return confirm('Are you sure you wish to delete?');" }) do |f| %>
		      <button type="submit" class="btn" style="padding: 0;margin-bottom: 1px;">
		        <i class="fa fa-trash" style="color:red;"></i>
		      </button>
		    <% end %>  
		  </div>
    </div> 
	</td>
</tr>