<%#= form_with(model: article, html: { novalidate: true }, data: {controller: 'article'}) do |form| %>
<%= form_with(model: article, html: {
  'data-target': 'article.form', 'data-action': 'article#submitForm'}) do |form| %>
  <% article_types, authors, contexts = get_data_for_article_creation %>  
  <div class="mb-3" data-target="article.errors">
    <% article.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class='mb-3'>
        <label for='article_type' class='form-label'>रचना का प्रकार</label>
        <%= form.select :article_type_id, options_for_select(article_types), {:prompt => 'रचना प्रकार चुने'}, class: 'form-control', 'data-target': 'article.articleTypeId' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class='mb-3'>
        <label class='form-label'>प्रसंग</label>
        <%= form.select :context_id, options_for_select(contexts), {:prompt => 'प्रसंग चुने'}, class: 'form-control', 'data-action': 'change->article#toggleContext', 'data-target': 'article.contextSelect'%>
        <div data-target='article.contextInput' hidden=true>
          <div class="row">
            <div class="col-md-8">
              <%= text_field_tag 'context', nil, class: 'form-control', placeholder: 'प्रसंग का नाम टाइप करे.' %>
            </div>
              <div class="col-md-4">
                <a href="javascript:void(0);" data-action="article#toggleContext" class="btn btn-primary">सूची  प्रदर्शित करे </a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class='mb-3'>
        <label for='article_type' class='form-label'>लेखक</label>
          <%= form.select :author_id, options_for_select(authors), {:prompt => 'लेखक चुने'}, class: 'form-control', 'data-action': 'change->article#toggleAuthor', 'data-target': 'article.authorSelect' %>
          <div data-target='article.authorInput' hidden=true>
            <div class="row">
              <div class="col-md-8">
                <%= text_field_tag 'author', nil, class: 'form-control', placeholder: 'लेखक का नाम टाइप करे.'  %>
              </div>
              <div class="col-md-4">
                <a href="javascript:void(0);" data-action="article#toggleAuthor" class="btn btn-primary">सूची  प्रदर्शित करे </a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-md-6">
      <div class='mb-3'>
        <label for='hindi_title' class='form-label'>हिंदी शीर्षक</label>
        <%= form.text_field :hindi_title, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class='mb-3'>
        <label for='article_type' class='form-label'>इंग्लिश शीर्षक</label>
        <%= form.text_field :english_title, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class='mb-3'>
    <label for='article_type' class='form-label'>रचना</label>
    <%#= text_area(:article, :content, cols: 30, rows: 12, class: 'form-control', 'data-target': 'article.content') %>
    <%= form.text_area :content, class: 'tinymce', 'data-provider': :summernote %>
  </div>
  <div class='text-center mt-3 actions'>
    <%= form.submit class: 'btn btn-lg btn-primary form-control' %>
  </div>
<% end %>