<div class="article-body">
  <br/>
  <div class="article-title">
    <span class="col-md-6 text-start article-title">
      रचना (<%= @article.article_type.name %>) : <%= @article.hindi_title %>
    </span>
    <span class="col-md-6 text-end author-mark-txt fRight"> 
      ( योगदानकर्ता : <%= @article.user.username.capitalize %> )
    </span>
  </div>
  <div class="article-content">
    <%= raw @article.content %>
  </div>
  <div class="article-author">
    <%if @article.author.name != "अज्ञात"  %>
      ( रचनाकार/लेखक - श्री <%= @article.author.name %> जी )
    <% else %>
      ( रचनाकार/लेखक - <%= @article.author.name %> )
    <% end %>
  </div>
  <br/>
</div>

