<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">रचना सूची </h5>
      </div>
      <hr>
      <div class="card-body h-100">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">S. No.</th>
              <th scope="col">रचना</th>
              <th scope="col">लेखक</th>
              <th scope="col">योगदानकर्ता</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @articles.each do |article, index| %>
              <%= render partial: 'article', locals: {article: article, index: index} %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= link_to "New article", new_article_path %>
  </div>
  <div class="col-md-1"></div>
</div>

<!-- 
<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
 -->