<% month, year = @cur_date.month, @cur_date.year %>
<% dates_array = (Date.new(year, month, 1).at_beginning_of_week..Date.new(year, month, -1).at_end_of_week) %>
<div id="custom-calendar">
  <div class="row-fluid mb-2">
    <div class="col-md-12 page-subject-header">
      <a href="<%= @last_month_link%>"><<</a>
        <strong><%= Panchang::HIN_MONTH[@cur_date.month-1] + ", " +@cur_date.strftime("%Y") %></strong>
      <a href="<%= @next_month_link%>">>></a>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="mt-4">
    <table class="table">
      <thead>
        <tr class="text-white bg-primary">
          <% @week_days.each do |day| %>
            <th><%= day %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% indx = 0 %>
        <% dates_array.each do | dt | %>
          <% if indx%7 == 0 %>
            <tr>
          <% end %>
            <% if dt.month == @cur_date.month %>
              <% selected  = (tithi && dt == tithi.date) ? 'selected' : '' %>
              <td class="current-month <%= selected %> py-4"
                data-date="<%= dt.strftime("%d/%m/%Y")%>"
                data-admin-panchang-target="calendarDate"
                data-action="click->admin-panchang#selectDate"
                >
                  <%= Panchang::HIN_MONTH[dt.month-1]%> <%= dt.strftime("%d") %>
              </td>
            <% else %>
              <td class="not-cur-month">
                <%= Panchang::HIN_MONTH[dt.month-1]%> <%= dt.strftime("%d") %>
              </td>
            <% end %>
          <% if indx%7 == 66 %>
            </tr>
          <% end %>
          <% indx = indx + 1%>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
