<div class="" data-controller="themechapter">
	<div class="row">
	  <!-- <div class="col-md-1"></div> -->
	  <div class="col-md-12">
	    <div class="card">
	      <div class="card-body h-100">
	      	<div class="row">
	      		<div class="col-md-8">
			        <span class="col-md-6 text-start article-title text-primary" data-themechapter-target="theme" data-theme-id="<%= @theme.id %>">
			          उत्सव (<span class="text-success"><%= @theme.name %></span>) में रचनाये जोड़े 
			        </span>
			      </div>
			      <div class="col-md-4">
			    		<% if @theme_chapters.present? %>
				    		<%= select_tag 'theme_chapters_name', options_from_collection_for_select(@theme_chapters, "id", "name"), prompt: "खंड/प्रकरण चुने", class:"form-control theme-chapter-name", 'data-themechapter-target': 'themeChapter', 'data-action': 'change->themechapter#searchArticlesByChapter' %>
				    	<% else %>
					    	<div class="theme-chapter-bdr">
					    		आपने इस उत्सव (<%= @theme.name %>) में कोई खंड/प्रकरण नहीं जोड़ा है अगर आप खंड/प्रकरण जोड़ना चाहते है तो यहाँ <a href="<%= theme_new_theme_chapter_path(@theme) %>">click</a> करे 
					    	</div>
				    	<% end %>
			      </div>
		      </div>
	        <div class="dropdown-divider"></div>
	        <div class="search-block" data-action="click->themechapter#isSearchEnable">
	          <%= render 'search_options' %>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- <div class="col-md-1"></div> -->
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
		    <div class="card-body h-100">
		    	<div class="row">
		    		<input type=hidden name="authenticity_token" value="<%= form_authenticity_token %>" data-themechapter-target="csrfToken">
			    	<ul class="list-group" id="theme-article-list">
				      <%@articles && @articles.each_with_index do |article, index|%>
				      	<%= render "article", article: article %>
							  <!-- <li class="list-group-item">
							  	<%#= article.hindi_title %>
							  	<span class="fRight add-article-in-theme" data-action="click->themechapter#addArticleInTheme" data-id="<%#= article.id %>">
								  	<i class="fa-solid fa-angle-right pull-right"></i>
								  </span>
							  </li> -->
			        <% end %>
						</ul>
					</div>
		    </div>
		  </div>
		</div>
		<div class="col-md-6">
			<div class="card">
		    <div class="card-body h-100">
		    	<div class="row">
		    		<span class="text-primary chapter-article-header">
		          <%= @theme_chapters.blank? ? "उत्सव में जोड़ी गयी रचनाये" : "उत्सव के खंड/प्रकरण में जोड़ी गयी रचनाये"%> 
		        </span>
		        <div class="dropdown-divider"></div>
			    	<ul class="list-group" id="theme-added-article-list">
			    	</ul>
			    </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/add-article-page-custom" %>
<% end %>