<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body h-100">
        <span class="col-md-6 text-start article-title text-primary">
          उत्सव 
        </span>
        <div class="dropdown-divider"></div>
        <div class="row mb-3">
          <div class="col-md-12"> 
            <div class='profile-title'>उत्सव का नाम</div>
            <div class='profile-content'>
              <%= @theme.name %>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12"> 
            <div class='profile-title'>योगदानकर्ता का नाम</div>
            <div class='profile-content'>
              <%= @theme.user.username %>
            </div>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="">
          <%= link_to "Edit this Theme", edit_theme_path(@theme) %> | 
          <%= link_to "Back to Themes", themes_path %> |
          <%= button_to("Destroy this Theme", theme_path(@theme), method: :delete, :class => "btn btn-link ps-0", form_class: 'btn ps-0 pe-0') %>
        </div>
      </div>
    </div>
  </div>
</div>