<table class="table">
  <thead class="table-dark">
    <tr>
      <th>S. No.</th>
      <th>नए रचनाकार</th>
      <th>स्वीकृत/अस्वीकृत</th>
      <th class="d-none d-xl-table-cell">विलय करे</th>
    </tr>
  </thead>
  <tbody>
    <% if authors_pending.present? %>
      <% authors_pending.each_with_index do |author, index| %>
        <tr>
        	<td><%= index +1 %></td>
        	<td data-admin-author-target="authorForApproval" data-vl="<%= author.id %>"><%= author.name %> </td>
        	<td>
        		<input type="button" value="स्वीकृत"  data-index="<%= index %>" data-page="<%= params[:page]%>" data-action="click->admin-author#approveAuthor"  class="btn btn-primary"/>
          	<input type="button" value="अस्वीकृत"  data-index="<%= index %>" data-page="<%= params[:page]%>" data-action="click->admin-author#rejectAuthor" class="btn btn-danger"/>
          </td>
          <td  class="d-none d-xl-table-cell">
          	<% if authors_approved.present? %>
          		<div class="row">
            		<div class="col-md-8">
            			<%= select_tag 'context_id', options_from_collection_for_select(authors_approved, "id", "name"), :prompt => "प्रसंग चुने", class:"form-control", 'data-admin-author-target': 'authorMergeIn' %>
            		</div>
            		<div class="col-md-4">
            			<input type="button" value="विलय करें" data-index="<%= index %>" data-page="<%= params[:page]%>" data-action="click->admin-author#mergeAuthor" class="btn btn-primary"/>
            		</div>
            	</div>
          	<% else %>
          		विलय करने के लिए अभी कोई डाटा उपलब्ध नहीं है.
          	<% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <td colspan="3">
      	अभी रिकॉर्ड उपलब्ध नहीं है.
      </td>
    <% end %>
  </tbody>
</table>
