<div class="row" data-controller="admin-author">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body h-400">
				<div class="page-subject-header">
					<div class="row">
	          <div class="col-md-6">रचनाकार / कवि / भक्त सूची </div>
				    <div class="col-md-6">
				    	<div class="btn-group fRight">
					    	<a href="javascript:void(0);" class="text-white btn btn-primary">
							  	<i class="fas fa-list"></i> रचनाकार सूची
							  </a>
						  	<a href="<%= approved_authors_admin_authors_path %>" class="text-white btn btn-success">
							  	<i class="far fa-check-circle"></i> स्वीकृत
							  </a>
						  	<a href="<%= pending_authors_admin_authors_path %>" class="text-white btn btn-warning">
							  	<i class="far fa-hourglass-half"></i> लंबित
							  </a>
							</div>
						</div>
					</div>
				</div>
		    <div class="dropdown-divider"></div>
      	<input type=hidden name="authenticity_token" value="<%= form_authenticity_token %>" data-admin-author-target="acsrfToken">
      	<div id="author_list">
	      	<table class="table">
					  <thead class="table-dark">
					    <tr>
					      <th scope="col">S. No.</th>
					      <th scope="col">नए रचनाकार</th>
					      <th scope="col">स्टेटस</th>
								<th scope="col">गतिविधि</th>
					    </tr>
					  </thead>
					  <tbody>
					    <% if @authors.present? %>
					      <% @authors.each_with_index do |author, index| %>
					        <tr class="<%= "text-success" if author.is_approved %>">
					        	<td><%= index +1 %></td>
					        	<td data-admin-author-target="authorForApproval" data-vl="<%= author.id %>">
											<%= link_to author.name, admin_author_path(author), class: author.is_approved ? "text-success" : ""%>
					        	</td>
					        	<td>
					        		<%= author.is_approved? ? "स्वीकृत" : "लंबित" %>
					          </td>
										<td>
				              <div class="row">
				  							<div class="col-md-1">
				  								<%= link_to edit_admin_author_path(author) do %>
				  								  <i class="fa fa-edit"></i>
				  								<% end %>
				  							</div>
				  							<div class="col-md-1">
				  								<%= form_for([:admin, author], html: { method: :delete, onSubmit: "return confirm('Are you sure you wish to delete?');" }) do |f| %>
				  						      <button type="submit" class="btn" style="padding: 0;margin-bottom: 1px;">
				  						        <i class="fa fa-trash" style="color:red;"></i>
				  						      </button>
				  						    <% end %>
				  						  </div>
												<% if !author.is_approved? %>
													<div class="col-md-3">
														<%= form_for(author, url: approve_admin_author_path(author), html: { method: :post }) do |f| %>
					  						      <button type="submit" class="btn btn-primary">
					  						        स्वीकृत
					  						      </button>
					  						    <% end %>
													</div>
												<% else %>
													<div class="col-md-3">
														<input type="button" value="स्वीकृत" class="btn btn-secondary"/>
													</div>
												<% end %>
				  				    </div>
				            </td>
					        </tr>
					      <% end %>
					    <% else %>
					      <td colspan="3">
					      	अभी रिकॉर्ड उपलब्ध नहीं है.
					      </td>
					    <% end %>
					  </tbody>
					</table>
	      </div>
			</div>
		</div>
	</div>
</div>
