<div class="row" data-controller="admin-author">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body h-400">
		    <span class="col-md-6 text-start article-title text-primary">
		      रचनाकार / कवि / भक्त सूची 
		    </span>
		    <div class="dropdown-divider"></div>
      	<input type=hidden name="authenticity_token" value="<%= form_authenticity_token %>" data-admin-author-target="acsrfToken">
      	<div id="author_list">
	      	<table class="table">
					  <thead class="table-dark">
					    <tr>
					      <th scope="col">S. No.</th>
					      <th scope="col">नए रचनाकार</th>
					      <th scope="col">स्वीकृत/अस्वीकृत</th>
					    </tr>
					  </thead>
					  <tbody>
					    <% if @authors.present? %>
					      <% @authors.each_with_index do |author, index| %>
					        <tr class="<%= "text-success" if author.is_approved %>">
					        	<td><%= index +1 %></td>
					        	<td data-admin-author-target="authorForApproval" data-vl="<%= author.id %>"><%= author.name %>
					        	</td>
					        	<td>
					        		<%= author.is_approved? ? "स्वीकृत" : "अस्वीकृत" %>
					          </td>
					        </tr>
					      <% end %>
					    <% else %>
					      <td colspan="3">
					      	अभी रिकॉर्ड उपलब्ध नहीं है.
					      </td>
					    <% end %>
					  </tbody>
					</table>
	      </div>
			</div>
		</div>
	</div>
</div>