<div class="row" data-controller="admin-author">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body h-400">
				<div class="page-subject-header">
					<div class="row">
	          <div class="col-md-6">लंबित रचनाकार / कवि / भक्त सूची</div>
				    <div class="col-md-6">
				     	<div class="btn-group fRight">
					    	<a href="<%= admin_authors_path %>" class="text-white btn btn-primary">
							  	<i class="fas fa-list"></i> रचनाकार सूची 
							  </a>
						  	<a href="<%= approved_authors_admin_authors_path %>" class="text-white btn btn-success">
							  	<i class="far fa-check-circle"></i> स्वीकृत
							  </a>
						  	<a href="javascript:void(0);" class="text-white btn btn-warning">
							  	<i class="far fa-hourglass-half"></i> लंबित
							  </a>
							</div>
						</div>
					</div>
				</div>
		    <div class="dropdown-divider"></div>
      	<input type=hidden name="authenticity_token" value="<%= form_authenticity_token %>" data-admin-author-target="csrfToken">
      	<div id="pending_author_list">
	      	<%= render "author_pending", authors_pending: @authors_pending, authors_approved: @authors_approved %>
	      </div>
	      <div id="paginate-block">
      		<%= paginate @authors_pending, remote: true %>
      	</div>
	      <!-- Modal -->
	      <div class="modal fade" id="updateAuthorPopup" tabindex="-1" aria-labelledby="updateAuthorPopupLabel" aria-hidden="true">
	        <div class="modal-dialog">
	          <div class="modal-content">
	            <div class="modal-header">
	              <h3 class="modal-title" id="exampleModalLabel">
	                लेखक का नाम अपडेट करे
	              </h3>
	              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	              <div class="mb-3">
	                <label for="formFile" class="form-label">लेखक का नया नाम</label>
	                <%= text_field_tag 'update_author_name', '', class:"form-control", 'data-admin-author-target': 'newAuthorName' %>
	              </div>
	            </div>
	            <div class="modal-footer">
	              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	              <button type="button" data-admin-author-target="saveAuthorBtn" data-index="<%=  %>" data-action="click->admin-author#updateAuthor" class="btn btn-primary">Save changes</button>
	            </div>
	          </div>
	        </div>
		    </div>
			</div>
		</div>
	</div>
</div>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/dashboard/author-custom" %>
<% end %>
