<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row page-subject-header">
          <span class="col-md-6 text-start article-title text-primary">
            रचनाकार/कवि/भक्त: <%= @author.name %> ( <%= @author.sampradaya.present? ? @author.sampradaya.name : 'सम्प्रदाय - NA' %> )
          </span>
          <span class="col-md-6 text-end text-primary author-mark-txt">
            ( योगदानकर्ता : <%= @author.user.username %> )
          </span>
        </div>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4" data-controller= 'article'>
          <div class="article-content">
            <% if @author.biography.present? %>
              <%= raw @author.biography %>
            <% else %>
              इस रचनाकार का जीवन वृतांत उपलब्ध नहीं है.
            <% end %>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <% if current_user.present? %>
          <div class="">
            <%= link_to "रचनाकार अद्यतन करे", edit_admin_author_path(@author) %> |
            <%= link_to "रचनाकार सूची", admin_authors_path %> |
            <%= button_to("रचनाकर डिलीट करे", author_path(@author), method: :delete, :class => "btn btn-link ps-0", form_class: 'btn ps-0 pe-0') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
