<div class="page-subject-header-violet p-4 text-center" style="min-height: 80px;">
  <span class="fLeft cpointer" data-action="click->scripture#displayPageIndexing">
    <i class="fa-solid fa-list"></i>
  </span>
  <span class="fnt-sz-26"><%= @scripture.name %> </span>
</div>
<div class="row ps-2 pe-2">

  <div class="col-md-12 hide pt-2" data-scripture-target="indexingPage" style="height: 990px;overflow-y: scroll; border-right: 2px solid gray;">
    <div class="mb-4 fnt-sz-20 fnt-b page-subject-header-violet text-center">
      अनुक्रमाणिका
      <div class="fRight text-danger" data-action="click->scripture#displayPageIndexing"><i class="fa-regular fa-circle-xmark"></i></div>
    </div>
    <div class="row">
      <% len = (@articles.length/2.0).ceil %>
      <% len.times do | index | %>
        <div class="col-md-6 fnt-b fnt-sz-16 pt-3 ps-3" style="border-right: 1px solid lightgray;" >
          <%= index + 1 %>. 
          <a href="javascript:void(0);" data-index="<%= index + 1 %>" data-action="click->scripture#displayPage">
            <%= @articles[index].title %>
          </a>
        </div>
        <% if @articles[len + index].present? %>
          <div class="col-md-6 fnt-b fnt-sz-16 pt-3 ps-3" >
            <%= len + index + 1 %>. 
            <a href="javascript:void(0);" data-index="<%= len + index + 1 %>" data-action="click->scripture#displayPage">
              <%= @articles[len + index].title %>
            </a>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-md-12 mt-3" id="parent-block" style="min-height: 990px;border-bottom:red;overflow-y: scroll;" data-scripture-target="pageParent">
    <div class="row">
      <div class="col-md-1 vm-align">
        <i class="fa-solid fa-chevron-left fnt-sz-30" data-action="click->scripture#navigationPrevious" data-scripture-target="previous"></i>
      </div>
      <div class="col-md-10 fnt-sz-24" data-action="click->scripture#navigation">
        <% @articles.each_with_index do | article, index | %>
          <% if index == 0 %>
            <div class="article-pad" id="pad-<%= index %>" data-scripture-target="page" data-page="<%= index + 1 %>">
              <div class="mb-5 fnt-sz-22 fnt-b title-text mt-3 ">
                <center><span><%= index + 1 %>. <%= article.title %></span></center>
              </div>
              <div class="fnt-sz-20"><%= raw article.story %></div>
            </div>
          <% else %>
            <div class="article-pad hide" data-scripture-target="page" data-page="<%= index + 1 %>">
              <div class="mb-5 fnt-sz-22 fnt-b title-text mt-3">
                <center><span><%= index + 1 %>. <%= article.title %></span></center>
              </div>
              <div class="fnt-sz-20"><%= raw article.story %></div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-1 vm-align">
        <i class="fa-solid fa-chevron-right fnt-sz-30" data-action="click->scripture#navigationNext"  data-scripture-target="next"></i>
      </div>
    </div>
  </div>

</div>