<tr>
	<th scope="row">
		<%= local_assigns[:index] %>
	</th>
	<td>
		<%= link_to author do %>
			<%= author.name %>
		<% end %>
	</td>
	<td>
		<%= author.sampradaya.name %>
	</td>
	<td>
		<%= author.birth_date.blank? ? '-' : author.birth_date %>
	</td>
	<td>
		<%= author.death_date.blank? ? '-' : author.death_date %>
	</td>
	<td style="display:inline-block">
		<div class="row">
			<div class="col-md-2">
				<%= link_to author do %>
				  <i class="fa fa-eye"></i>
				<% end %>
			</div>
			<div class="col-md-2">
				<%= link_to edit_author_path(author) do %>
				  <i class="fa fa-edit"></i>
				<% end %>
			</div>
				<div class="col-md-2">
				<%= form_for(author, html: { method: :delete, onSubmit: "return confirm('Are you sure you wish to delete?');" }) do |f| %>
		      <button type="submit" class="btn" style="padding: 0;margin-bottom: 1px;">
		        <i class="fa fa-trash" style="color:red;"></i>
		      </button>
		    </div>
     </div>
    <% end %>
	</td>
</tr>