<table class="table">
  <thead class="table-primary">
    <tr>
      <th>S. No.</th>
      <th>रसिक ग्रन्थ/वाणी सेक्शन</th>
      <th>गतिविधि</th>
    </tr>
  </thead>
  <tbody>
    <% if sections.present? %>
      <%
        page = (sections.current_page - 1)
        per_page = sections.present? ? sections.limit_value : 0
      %>
      <% sections.each_with_index do |section, index| %>
        <% ind = (page * per_page) + (index + 1) %>
        <tr>
          <td scope="row">
            <%= ind %>
          </td>
          <td>
            <%= link_to section.title, admin_section_path(section) %>
          </td>
          <td>
            <%= link_to admin_section_path(section) do %>
              <i class="fa fa-eye"></i>
            <% end %>
            <%= link_to edit_admin_section_path(section) do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= button_to '<i class="fa fa-trash" style="color:red;"></i>'.html_safe, admin_section_path(section), method: :delete, style: "border: 0px", form: {class: 'ps-0 pe-0', style: "display:inline-block; font-size: 18px;"} %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3">
          <center>अभी कोई डाटा उपलब्ध नहीं है</center>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if paginate(sections).present? %>
  <%= paginate sections, remote: true %>
  <div class="dropdown-divider"></div>
<% end %>