<%#= form_with(model: article, html: { novalidate: true }, data: {controller: 'article'}) do |form| %>
<%= form_with(model: theme_chapter, html: {
  'data-target': 'article.form', 'data-action': 'article#submitForm'}) do |form| %> 
  <% themes = get_themes_hash%>
  <div class="mb-3" data-target="article.errors">
    <% theme_chapter.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <div class='mb-3'>
        <label class='form-label'>उत्सव</label>
        <%= form.select :theme_id, options_for_select(themes, selected: params[:theme_id]), {:prompt => 'उत्सव चुने'}, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-12">
      <div class='mb-3'>
        <label for='article_type' class='form-label'>नाम</label>
        <%= form.text_field :name, class: 'form-control' %>
        <%= form.hidden_field :is_default, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class='text-center mt-3 actions'>
    <%= form.submit class: 'btn btn-lg btn-primary form-control' %>
  </div>
<% end %>