<table class="table table-bordered">
  <thead class="table-primary">
    <tr>
      <th>S. No.</th>
      <th>अध्याय का नाम</th>
      <th class="d-none d-xl-table-cell">उत्सव का नाम</th>
      <th class="d-none d-xl-table-cell">Created By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% unless theme_chapters.blank? %>
    	<%
	      page = params[:page].blank? ? 0 : (params[:page].to_i - 1)
	      page_size = theme_chapters.present? ? theme_chapters.limit_value : 0
	    %>
      <% theme_chapters.each_with_index do |theme_chapter, index| %>
        <tr>
					<th scope="row">
						<%= (page * page_size) + (index + 1) %>
					</th>
					<td>
						<%= link_to theme_chapter do %>
							<%= theme_chapter.name %>
						<% end %>
					</td>
					<td class="d-none d-xl-table-cell">
						<%= link_to theme_path(theme_chapter.theme.id) do %>
							<%= theme_chapter.theme.present? ? theme_chapter.theme.name : '-' %>
						<% end %>
					</td>
					<td class="d-none d-xl-table-cell">
						<%= link_to user_profile_path(theme_chapter.user.id) do %>
							<%= theme_chapter.user.username.capitalize %>
						<% end %>
					</td>
					<td>
						<div class="row">
							<div class="col-md-1">
								<%= link_to theme_chapter do %>
								  <i class="fa fa-eye"></i>
								<% end %>
							</div>
							<div class="col-md-1">
								<%= link_to edit_theme_chapter_path(theme_chapter) do %>
								  <i class="fa fa-edit"></i>
								<% end %>
							</div>
							<div class="col-md-1">
								<%= form_for(theme_chapter, html: { method: :delete, onSubmit: "return confirm('Are you sure you wish to delete?');" }) do |f| %>
						      <button type="submit" class="btn" style="padding: 0;margin-bottom: 1px;">
						        <i class="fa fa-trash" style="color:red;"></i>
						      </button>
						    <% end %>
					    </div>
				    </div>
					</td>
				</tr>
      <% end %>
    <% else %>
    <td colspan="5">
      <center>There is no data available now.</center>
    </td>
    <% end %>
  </tbody>
</table>
<%= paginate theme_chapters, remote: true %>
<% if paginate(theme_chapters).present? %>
  <div class="dropdown-divider"></div>
<% end %>
<%= link_to "उत्सव अध्याय जोड़े", new_theme_chapter_path %>
