<div class="row" data-controller="admin-context">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body h-400">
				<span class="col-md-6 text-start article-title text-primary">
		      लंबित प्रसंग सूची 
		    </span>
		    <div class="btn-group fRight">
			  	<a href="<%= approved_contexts_admin_contexts_path %>" class="text-white btn btn-secondary">
				  	Approved
				  </a>
			  	<a href="javascript:void(0);" class="text-white btn btn-primary">
				  	Pending
				  </a>
				</div>
		    <div class="dropdown-divider"></div>  
      	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" data-admin-context-target="csrfToken">
      	<div id="pending_context_list">
      		<%= render "context_pending", contexts_pending: @contexts_pending, contexts_approved: @contexts_approved %>
      	</div>
      	<div id="paginate-block">
      		<%#= page_entries_info @contexts_pending %>
      		<%= paginate @contexts_pending, remote: true %>
      	</div>
      	<!-- Modal -->
	      <div class="modal fade" id="updateContextPopup" tabindex="-1" aria-labelledby="updateContextPopupLabel" aria-hidden="true">
	        <div class="modal-dialog">
	          <div class="modal-content">
	            <div class="modal-header">
	              <h3 class="modal-title" id="exampleModalLabel">
	                प्रसंग का नाम अपडेट करे 
	              </h3>
	              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	              <div class="mb-3">
	                <label for="formFile" class="form-label">प्रसंग का नया नाम</label>
	                <%= text_field_tag 'update_context_name', '', class:"form-control", 'data-admin-context-target': 'newContextName' %>
	              </div>
	            </div>
	            <div class="modal-footer">
	              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	              <button type="button" data-admin-context-target="saveContextBtn" data-index="" data-action="click->admin-context#updateContext" class="btn btn-primary">Save changes</button>
	            </div>
	          </div>
	        </div>
	      </div>
			</div>
		</div>
	</div>
</div>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/dashboard/context-custom" %>
<% end %>