<table class="table">
  <thead class="table-dark">
    <tr>
      <th>S. No.</th>
      <th>नाम</th>
      <th class="d-none d-xl-table-cell">योगदानकर्ता</th>
      <th class="d-none d-xl-table-cell">स्वीकृत/अस्वीकृत</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="tag_rows">
    <% if tags.present? %>
      <%
        page = (tags.current_page - 1)
        page_size = tags.present? ? tags.limit_value : 0
      %>
      <% tags.each_with_index  do | tag, index | %>
        <% ind = (page * page_size) + (index+1) %>
        <tr class="<%= tag.is_approved ? "text-primary" : "" %>">
          <th><%= ind %></th>
          <td><%= tag.name %></td>
          <td class="d-none d-xl-table-cell"><%= tag.user.username %></td>
          <td class="d-none d-xl-table-cell"><%= tag.is_approved ? "स्वीकृत" : "अस्वीकृत" %>
          <td>
            <%= link_to "javascript:void(0);", class: "btn btn-danger", 'data-action': 'admin-tag#rejectTag', 'data-id': tag.id do %>
              <i class="fa-solid fa-ban"></i> Block / Reject
            <% end %>
            <%= link_to "#", class: "btn btn-primary" do %>
              <i class="fa-solid fa-share-from-square"></i> Export into Context
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">
          <center>अभी कोई डाटा उपलब्ध नहीं है</center>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>