<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">S. No.</th>
      <th scope="col">नाम</th>
      <th scope="col" class="d-none d-xl-table-cell">योगदानकर्ता</th>
      <th scope="col">स्वीकृत/अस्वीकृत</th>
      <th scope="col">गतिविधि</th>
    </tr>
  </thead>
  <tbody id="tag_rows">
    <% if tags.present? %>
      <%
        page = (tags.current_page - 1)
        page_size = tags.present? ? tags.limit_value : 0
      %>
      <% tags.each_with_index  do | tag, index | %>
        <% ind = (page * page_size) + (index+1) %>
        <tr class="<%= tag.is_approved ? "text-primary" : "" %>">
          <th><%= ind %></th>
          <td><%= tag.name %></td>
          <td class="d-none d-xl-table-cell">
            <%= tag.user.username %>
          </td>
          <td>
            <% if parent_type == "approved" %>
              <%= link_to "javascript:void(0);", class: "btn btn-danger",
                'data-action': 'admin-tag#rejectTag', 'data-id': tag.id,
                'data-parent-type': parent_type do %>
                <i class="fa-solid fa-ban"></i> अस्वीकृत
              <% end %>
              <%= link_to "javascript:void(0);", class: "btn btn-primary",
                'data-action': 'admin-tag#convertTagToContext', 'data-id': tag.id,
                'data-parent-type': parent_type do %>
                <i class="fa-solid fa-share-from-square"></i> टैग को प्रसंग बनाये
              <% end %>
            <% elsif parent_type == "rejected"%>
              <%= link_to "javascript:void(0);", class: "btn btn-primary",
                'data-action': 'admin-tag#approveTag', 'data-id': tag.id,
                'data-parent-type': parent_type do %>
                Approved
              <% end %>
            <% else %>
              <%= tag.is_approved ? "स्वीकृत" : "अस्वीकृत" %>
            <% end %>
          </td>
          <td>
            <div class="row">
              <div class="col-md-1">
                <%= link_to edit_admin_tag_path(tag) do %>
                  <i class="fa fa-edit"></i>
                <% end %>
              </div>
              <div class="col-md-1">
                <%= form_for([:admin, tag], html: { method: :delete, onSubmit: "return confirm('Are you sure you wish to delete?');" }) do |f| %>
                  <button type="submit" class="btn" style="padding: 0;margin-bottom: 1px;">
                    <i class="fa fa-trash" style="color:red;"></i>
                  </button>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">
          <center>अभी कोई डाटा उपलब्ध नहीं है</center>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="paginate-block">
  <%= paginate tags, remote: true if tags.present? %>
</div>
