<% if  articles.present? %>
  <% articles.each_with_index do | article, index | %>
    <div class="card">
      <div class="card-body">
        <div class="row p-2 article-box">
          <div class="col-md-3 ps-0">
            <img src="/assets/shrihit.png" class="article-img" alt="Avatar">
          </div>
          <div class="col-md-9">
            <div class="row mb-3">
              <%= link_to articles_by_type_public_article_types_path(article.article_type.name), class: "col-md-2 me-3 article-type-txt" do %>
                  <%= article.article_type.name %>
              <% end %>
              <div class="col-md-2 article-date-txt"><%= article.created_at.strftime("%d/%m/%Y") %></div>
            </div>
            <div class="row pb-3 btm-bdr">
              <%= link_to article_by_title_public_articles_path(article.hindi_title) do %>
                <div class="pb-3 article-title">
                  <%= article.hindi_title %>
                </div>
                <% contnt = Nokogiri::HTML(article.content).text %>
                <div class="article-text"><%= truncate(contnt, length: 300) %></div>
              <% end %>
            </div>
            <div class="row mt-2 d-block">
              <div >
                <%= link_to public_author_path(article.author) do %>
                  <div class="user-icon-div">
                    <i class="fa-solid fa-circle-user me-2 user-icon" ></i>
                  </div>
                  <div class="user-txt"><%= article.author.name %></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div id="paginate-block">
  <%= paginate articles %>
</div>