<div class="row mb-3">
	<div class="col-md-12">
		<div class="article-header-yellow">नवीनतम रचनायें</div>
	</div>
</div>
<div class="row mb-3">
  <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30"
    slides-per-view="3">
  	<% @articles && @articles.each do | article | %>
      <swiper-slide>
    		<div class="col-md">
    			<a href="<%= public_article_path(article) %>">
      			<div class="card">
      			  <img src="/assets/shriji_charan.png" class="card-img-top" alt="Shrihit" style="border-bottom:2px solid #D3D3D3;">
      			  <div class="card-body">
      			    <div class="card-title article-header-yellow">
      			    	<%= article.hindi_title %>
      			    </div>
      			    <div class="card-text" style="max-height: 82px; overflow: hidden">
      			    	<%# txt = article.content #Nokogiri::HTML(article.content).text %>
      				   	<%= raw article.content.strip %>
      				  </div>
      				  <div class="dropdown-divider"></div>
      				  <div class="contributer-text" style="min-height: 44px;">
                  ( 
                    सृजन तिथि : 
                    <strong class="text-primary">
                      <%= link_to article.created_at.strftime("%b %d, %Y"), "javascript:void(0);" %>
                    </strong>,
                    रचना प्रकार - 
                    <strong class="text-primary fnt-sz-14">
                      <%= link_to article.article_type.name, articles_by_type_public_article_types_path(article.article_type.name) %>
                    </strong>,
                    रचनाकार - 
                    <strong class="text-primary fnt-sz-14">
                      <%= link_to article.author.name, public_author_path(article.author.id) %>
                    </strong>
                  )
                </div>
                <div class="dropdown-divider mb-4"></div>
      			    <a href="<%= public_article_path(article) %>" class="btn btn-warning">रचना देखें</a>
      			  </div>
      			</div>
      		</a>
    		</div>
      </swiper-slide>
  	<% end %>
  </swiper-container>
</div>

<div class="row">
  <div class="card mb-2 pt-2">
    <div class="article-header-violet mb-3 mb-2">प्रसंग सूची</div>
    <div class="mb-3" style="text-align:center;">
      <% @contexts && @contexts.each do | context | %>
        <a href="<%= articles_by_context_public_contexts_path(context.name) %>">
          <div class="context-lbl"><%= context.name %></div>
        </a>
      <% end %>
    </div>
  </div>
</div>