<%#= render partial: 'search_bar'%>
<div class="row">
	<div class="col-md-9 ps-0">
		<div class="card">
			<div class="card-body h-100" id="article-list">
				<% @articles && @articles.limit(5).each do | article | %>
					<div class="row">
	          <% article_tags = article.tags %>
	          <div class="col-md-12 article-title-body mb-3">
	          	<div>
		            <a href="<%= public_article_path (article) %>" class="article-title text-primary">
		              रचना : <%= article.hindi_title %>
		            </a>
		            <% if current_user.present? %> 
		              <%= link_to(export_pdf_public_article_path(@article.id, format: :pdf), class: "export-pdf fRight", target: "_blank") do %>
		                <!-- <i class="fa-solid fa-file-export"></i> -->
		                 <i class="fas fa-file-download"></i>
		              <% end %>
		            <% else %>
		              <%= link_to(new_user_session_path, class: "export-pdf fRight", onclick: "alert('Pdf डाउनलोड करने के लिए पहले लॉगिन करे')" ) do %>
		                  <!-- <i class="fa-solid fa-file-export"></i> -->
		                 <i class="fas fa-file-download"></i>
		              <% end %> 
		            <% end %>
		          </div>
	            <div class="contributer-text">
	              (योगदानकर्ता : 
	                <strong>
	                  <%= link_to article.user.username.capitalize, public_user_profile_path(article.user.id) %>
	                </strong>, 
	                Created at : 
	                <strong class="text-primary">
	                  <%= article.created_at.strftime("%B %d, %Y")%>
	                </strong>,
	                रचना प्रकार - 
	                <strong class="text-primary">
	                  <%= article.article_type.name %>
	                </strong>
	              )
	            </div>
	          </div>
	        </div>
	        <div class="row mb-3">
	          <div class="m-sm-1 article-body" data-controller= 'article'>
	            <div class="article-content">
	              <%= raw article.content %>
	            </div>
	            <div class="author-mark-txt text-info">
	              <a href="<%= public_author_path(article.author.id) %>">
	                ( रचनाकार - श्री <%= article.author.name %> जी )
	              </a>
	            </div>
	            <% if article_tags.present?%>
	              <div class="article-tag-txt text-primary mt-3">
	                <strong>सम्बंधित बिषय :-</strong>&nbsp;&nbsp;
	                <% article_tags.each do | tag | %>
	                  <a href="<%= articles_by_tag_public_tags_path(tag.name) %>" class='tags-txt'>
	                    <i class="fa-solid fa-tags"></i> <%= tag.name %>
	                  </a>
	                <% end %>
	              </div>
	            <% end %>
	          </div>
	        </div>
	        <div class="m-sm-2">
	          <div class="row mb-2 ms-0">
	            <div class="ps-0" style="color:#6c757d;">
	              <strong>Comments</strong>
	            </div>
	          </div>
	        </div>
	        <div class="m-sm-2">
	          <div class="row mb-2 ms-0" id="comment-section">
	            <% if article.comments.present? %>
	              <% article.comments.limit(5).each do | comment | %>
	              <div class="parent-comment-body">
	                <%= render partial: "comments/comment", locals: {comment: comment, 
	                  article: article, parent: article, parent_name: article.class.name, 
	                  level: 1} %>
	              </div>
	              <% end %>
	            <% else %>
	              <div class="d-flex">
	                <div class="no-comment-msg">
	                  There is not comment available now.
	                </div>
	              </div>
	            <% end %>
	          </div>
	        </div>
		      <br/>
				<% end %>
				<div class="dropdown-divider"></div>
				<div class="paginante-block mt-3">
					<%= paginate @articles %>
				</div>
		  </div>
		</div>
  </div>
  <div class="col-md-3 ps-0 pe-0">
    <div class="card">
      <div class="card-body h-100" style="min-height: 545px;">
        <span class="col-md-6 text-start article-title text-primary">
          रचनाकार / कवि / भक्त सूची 
        </span>
        <div class="dropdown-divider"></div>
          <ul class="list-group">
					  <% if @authors.present? %>
					    <% @authors && @authors.each do | author | %>
					      <%= render partial: "author", locals: {author: author} %>
					    <% end %>
					    <% if @authors.length > 9 %>
						    <li class="list-group-item">
								  <%= link_to public_authors_path do %>
								    View more रचनाकार ...
								  <% end %>
								</li>
							<% end %>
					  <% else %>
							<li class="list-group-item">
								There is no data available now.
							</li>
					  <% end %>
					</ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/welcome-custom" %>
<% end %>