<%#= form_with(model: article, html: { novalidate: true }, data: {controller: 'article'}) do |form| %>
<%= form_with(model: user_profile, html: {
  'data-target': 'article.form', 'data-action': 'article#submitForm'}) do |form| %>
  <div class="mb-3" data-target="article.errors">
    <% user_profile.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6"> 
      <div class='mb-3'>
        <label class='form-label'>प्रथम नाम</label>
        <%= text_field_tag :first_name, '', class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6"> 
      <div class='mb-3'>
        <label class='form-label'>अंतिम नाम</label>
        <%= text_field_tag :last_name, '', class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"> 
      <div class='mb-3'>
        <label class='form-label'>मोबाइल</label>
        <%= form.text_field :mobile, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6"> 
      <div class='mb-3'>
        <label class='form-label'>पता</label>
        <%= form.text_field :address, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"> 
      <div class='mb-3'>
        <label class='form-label'>नगर</label>
        <%= form.text_field :city, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6"> 
      <div class='mb-3'>
        <label class='form-label'>पिनकोड</label>
        <%= form.text_field :pincode, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"> 
      <div class='mb-3'>
        <label class='form-label'>राज्य</label>
        <%= form.select :state_id, options_for_select(get_states), {:prompt => 'राज्य चुने'}, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6"> 
      <div class='mb-3'>
        <label class='form-label'>जन्म दिनांक</label>
        <%= form.text_field :date_of_birth, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"> 
      <div class='mb-3'>
        <label class='form-label'>फेसबुक प्रोफाइल URL</label>
        <%= form.text_field :facebook_url, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6"> 
      <div class='mb-3'>
        <label class='form-label'>यूट्यूब प्रोफाइल URL</label>
        <%= form.text_field :youtube_url, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <div class='mb-3'>
        <label class='form-label'>जीवन-वृत्तांत</label>
        <%= form.text_area :biography, class: 'form-control tinymce' %>
      </div>
    </div>
  </div>
  <div class='text-center mt-3 actions'>
    <%= form.submit class: 'btn btn-lg btn-primary form-control' %>
  </div>
<% end %>