<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 page-subject-header">
          <span>अस्वीकृत सुझाव सूची</span>
          <div class="btn-group fRight">
            <%= link_to(admin_suggestions_path, class: "btn btn-primary") do %>
              <i class="fas fa-list"></i> Index
            <% end %>
            <%= link_to(approved_admin_suggestions_path, class: "btn btn btn-success") do %>
              <i class="fa-regular fa-circle-check fnt-sz-20"></i> Approved
            <% end %>
            <%= link_to("javascript:void(0);", class: "btn btn-danger") do %>
              <i class="fa-regular fa-circle-xmark fnt-sz-20"></i> Rejected
            <% end %>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="suggestion-container" data-controller= ''>
          <table class="table">
            <thead class="table-primary">
              <tr>
                <th scope="col">#</th>
                <th scope="col">सुझाव</th>
              </tr>
            </thead>
            <tbody>
              <% 
                page = params[:page].blank? ?  0 : (params[:page].to_i - 1)
                page_size = @suggestions.present? ? @suggestions.limit_value : 0
              %>
              <% if @suggestions.present? %>
                <% @suggestions.each_with_index do | suggestion, index | %>
                  <tr class="suggestion-item">
                    <th scope="row"><%= (page * page_size) + (index + 1) %></th>
                    <td>
                      <a href="<%= admin_suggestion_path(suggestion)%>">
                        <%= suggestion.title %>
                      </a>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="2">
                    कोई सुझाव उपलब्ध नहीं है
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <%= paginate @suggestions, remote: true if @suggestions.present? %>
</div>