<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div>
        <%= link_to(admin_suggestions_path, class: "btn btn-outline-primary fRight ms-1") do %>
          <i class="fas fa-list"></i> Pending
        <% end %>
        <%= link_to(rejected_admin_suggestions_path, class: "btn btn-outline-danger fRight ms-1") do %>
          <i class="fa-regular fa-circle-xmark fnt-sz-20"></i> Rejected
        <% end %>
        <%= link_to(approved_admin_suggestions_path, class: "btn btn btn-outline-success fRight ms-1") do %>
          <i class="fa-regular fa-circle-check fnt-sz-20"></i> Approved
        <% end %>
      </div>
      <div class="card-body">
        <div class="card row">
          <div class="col-md-12">
            <a href="<%= public_articles_path%>" class="article-title text-primary">
              सुझाव : <%= @suggestion.title %>
            </a>
            <div class="contributer-text">
              (योगदानकर्ता : 
                <strong>
                  <% if @suggestion.user_id.present? %>
                    <%= link_to @suggestion.user.username, public_user_profile_path(@suggestion.user_id) %>
                  <% else %>
                    <%= @suggestion.username.capitalize %>
                  <% end %>
                </strong>, 
                Created at : 
                <strong class="text-primary">
                  <%= @suggestion.created_at.strftime("%B %d, %Y")%>
                </strong>,
                रचना प्रकार - 
                <strong class="text-primary">
                  सुझाव
                </strong>
              )
            </div>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="suggestion-description" data-controller= ''>
          <%= raw @suggestion.description %>
        </div>
        <div class="dropdown-divider"></div>
          <!-- <span class="sgstion-user">
            Username: <span class="username"><strong><%#= @suggestion.username %></strong></span>
          </span> -->
          <%= link_to "स्वीकृत", approve_admin_suggestion_path(@suggestion), class: "btn btn-primary" %>
          <%= link_to "अस्वीकृत", reject_admin_suggestion_path(@suggestion), class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>