<div class="row">
  <div class="card">
    <div class="card-body h-450">
      <div class="page-subject-header">
        रचनाकार/कवि/भक्त: <%= @author.name %> ( <%= @author.sampradaya.present? ? @author.sampradaya.name : 'सम्प्रदाय - NA' %> )
        <a href="<%= @author.present? ? public_user_profile_path(@author.user.id) : '' %>" class="text-white">
          ( योगदानकर्ता : <%= @author.present? ? @author.user.username : 'Not Available' %> )
        </a>
      </div>
      <div class="dropdown-divider"></div>
      <div class="m-sm-4" data-controller= 'article'>
        <div class="article-content">
          <% if @author && @author.biography.present? %>
            <%= raw @author.biography %>
          <% else %>
            There is no biography.
          <% end %>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <div class="row">
        <%= render partial: "public/shared/article", locals: {articles: @articles, page: 0, page_size: 0} %>
      </div>
    </div>
  </div>
</div>