<div class="row">
  <div class="card">
    <div class="card-body">
      <div class="row bg-primary text-white">
        <span class="col-md-6 text-start article-title">
          रचनाकार/कवि/भक्त: <%= @author.name %> ( <%= @author.sampradaya.present? ? @author.sampradaya.name : 'सम्प्रदाय - NA' %> )
        </span>
        <span class="col-md-6 text-end author-mark-txt">
          <a href="<%= public_user_profile_path(@author.user.id) %>" class="text-white">
            ( योगदानकर्ता : <%= @author.user.username %> )
          </a>
        </span>
      </div>
      <div class="dropdown-divider"></div>
      <div class="m-sm-4" data-controller= 'article'>
        <div class="article-content">
          <% if @author.biography.present? %>
            <%= raw @author.biography %>
          <% else %>
            There is no biography.
          <% end %>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <div class="row bg-primary text-white">
        <span class="col-md-6 text-start article-title ">
          उपलब्ध रचनायें
        </span>
      </div>
      <div class="row">
        <ol class="list-group pe-0">
          <% @articles && @articles.limit(10).each do | article |%>
            <li class="list-group-item">
              <a href="<%= public_article_path (article) %>">
                <%= article.hindi_title %>
              </a>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>