<%= form_with(model: tag) do |form| %>
  <div class="row">
    <div class="col-md-8">
      <div class="mb-3 alert alert-danger alert-dismissible fade show" style="display:  <%= tag.errors.present? ? 'block' : 'none' %>;" role="alert">
        <% tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
        <button type="button" class="btn-close" onclick="$('.alert').hide()" aria-label="Close" style="font-size: 12px; "></button>
      </div>

      <div class='mb-3'>
        <label class='form-label'>
          नाम <i class="fa fa-asterisk req-field" aria-hidden="true"></i>
        </label>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class='text-center mt-3 actions'>
        <div class="row">
          <div class="col-md-4">
            <% if tag.id.present? %>
              <%= form.submit "अद्यतन करें", class: 'btn btn-primary form-control' %>
            <% else %>
              <%= form.submit "सम्पादित करें", class: 'btn btn-primary form-control' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
