<tr>
	<th scope="row">
		<%= local_assigns[:index] %>
	</th>
	<td>
		<%= link_to article do %>
			<%= article.hindi_title %>
		<% end %>
	</td>
	<td>
		<%= article.author.name %>
	</td>
	<td>
		<%= article.user.username %>
	</td>
</tr>