<!-- <div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body h-100">
				Index page
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body h-100">
				Index page
			</div>
		</div>
	</div>
</div> -->
<div class="row">
	<div class="col-md-8">
		<div class="card">
			<div class="card-body h-400">
				<span class="col-md-6 text-start article-title text-primary">
          रचना सूची 
        </span>
        <div class="dropdown-divider"></div>
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">S. No.</th>
              <th scope="col">रचना</th>
              <th scope="col">लेखक</th>
              <th scope="col">योगदानकर्ता</th>
            </tr>
          </thead>
          <tbody>
						<% if @articles.present? %>
	            <% @articles.limit(10).each_with_index do |article, index| %>
	              <%= render partial: 'article', locals: {article: article, index: (index + 1) } %>
	            <% end %>
            <% else %>
	            <td colspan="4">
	            	अभी रिकॉर्ड उपलब्ध नहीं है.
	            </td>
            <% end %>
						<% if @articles.length > 10 %>
							<tr>
								<td colspan="4">
									<a href="<%= articles_path %>" class="fRight">Read More...</a>
								</td>
							</tr>
						<% end %>
          </tbody>
        </table>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-body h-400">
        <span class="col-md-6 text-start article-title text-primary">
          रचनाकार / कवि / भक्त सूची 
        </span>
        <div class="dropdown-divider"></div>
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">S. No.</th>
              <th scope="col">लेखक</th>
            </tr>
          </thead>
          <tbody>
          	<% if @authors.present? %>
	          	<% @authors.limit(10).each_with_index do |author, index| %>
	          		<tr>
		          		<td><%= index + 1 %></td>
		          		<td><%= author.name %></td>
		          	</tr>
	          	<% end %>
	          	<%if @authors.length > 10 %>
	          		<tr>
									<td colspan="2">
										<a href="<%= authors_path %>" class="fRight">Read More...</a>
									</td>
								</tr>
	          	<% end %>
	          <% else %>
		          <tr>
		          	<td colspan="2">
		          		अभी रिकॉर्ड उपलब्ध नहीं है.
		          	</td>
		          </tr>
	          <% end %>
          </tbody>
        </table>
			</div>
		</div>
	</div>
</div>