<%= form_with(model: context, html: {
  'data-context-target': 'form', 'data-action': 'context#submitForm'}) do |form| %>
  <div class="row">
    <div class="col-md-8">
      <div class="mb-3 alert alert-danger alert-dismissible fade show" style="display:  <%= context.errors.present? ? 'block' : 'none' %>;" role="alert">
        <% context.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
        <button type="button" class="btn-close" onclick="$('.alert').hide()" aria-label="Close" style="font-size: 12px; "></button>
      </div>

      <div class='mb-3'>
        <label class='form-label'>
          рдирд╛рдо <i class="fa fa-asterisk req-field" aria-hidden="true"></i>
        </label>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class='text-center mt-3 actions'>
        <div class="row">
          <div class="col-md-4">
            <%= form.submit class: 'btn btn-lg btn-primary form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>