<table class="table">
  <thead class="table-primary">
    <tr>
      <th>S. No.</th>
      <th>रचना</th>
      <th>रचना प्रकार</th>
      <th>गतिविधि</th>
    </tr>
  </thead>
  <tbody>
    <% if strota_articles.present? %>
      <%
        page = (strota_articles.current_page - 1)
        per_page = strota_articles.present? ? strota_articles.limit_value : 0
      %>
      <% strota_articles.each_with_index do |article, index| %>
        <% ind = (page * per_page) + (index + 1) %>
        <tr>
          <td scope="row">
            <%= ind %>
          </td>
          <td>
            <strong>
              <% content_text = Nokogiri::HTML(article.content).text %>
              <%= link_to admin_strota_article_path(article) do %>
                <%= truncate(content_text, length: 50) %>
              <% end %>
            </strong>
          </td>
          <td>
            <%= article.article_type.name %>
          </td>
          <td>
            <%= link_to admin_strota_article_path(article) do %>
              <i class="fa fa-eye"></i>
            <% end %>
            <%= link_to edit_admin_strota_article_path(article) do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= button_to '<i class="fa fa-trash" style="color:red;"></i>'.html_safe, admin_strota_article_path(article), method: :delete, style: "border: 0px", form: {class: 'ps-0 pe-0', style: "display:inline-block; font-size: 18px;"} %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6">
          <center>अभी कोई डाटा उपलब्ध नहीं है</center>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if strota_articles && paginate(strota_articles).present? %>
  <%= paginate strota_articles %>
  <div class="dropdown-divider"></div>
<% end %>