<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 page-subject-header">
          स्त्रोत/आरती रचना
        </div>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4">
          <div class="mb-3">
            <div class="ps-3">
              <%=raw @strota_article.content %>
            </div>
          </div>
          <div class="mb-3">
            <div class="card-title form-control sggstion-hdr mb-3">
              व्याख्या
            </div>
            <div class="ps-3">
              <%=raw @strota_article.interpretation.present? ? @strota_article.interpretation : 'उपलब्ध नहीं' %>
            </div>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <%= link_to "रचना सूची देखें", admin_strota_articles_path %> | 
        <%= link_to "रचना अद्यतन करें", edit_admin_strota_article_path(@strota_article) %> |
        <%= button_to("रचना डिलीट करे", admin_strota_article_path(@strota_article), method: :delete, :class => "btn text-danger btn-link ps-0", form_class: 'btn ps-0 pe-0') %>
      </div>
    </div>
  </div>
</div>