<% dates_array = (@cur_date.beginning_of_month.at_beginning_of_week..@cur_date.end_of_month.at_end_of_week) %>
<div id="custom-calendar">
  <div class="row mb-2 page-subject-header">
    <div class="col-md-6">
      <a href="<%= @last_month_link%>"><<</a>
        <strong><%= HindiMonth::ENG_MONTH[@cur_date.month-1] + ", " +@cur_date.strftime("%Y") %></strong>
      <a href="<%= @next_month_link%>">>></a>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="mt-4">
    <table class="table">
      <thead>
        <tr class="text-white bg-primary">
          <% @week_days.each do |day| %>
            <th style="width: 14%;"><%= day %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% indx = 0 %>
        <% dates_array.each do | dt | %>
          <% if indx%7 == 0 %>
            <tr>
          <% end %>
            <% if dt.month == @cur_date.month %>
              <% selected  = (tithi && dt == tithi.date) ? 'selected' : '' %>
              <% pan_tithi = tithiya ? tithiya.where("date=?", dt)[0] : nil %>
              <% pan_tithi = tithiya ? tithiya.where("date=?", dt) : nil %>
              <td class="current-month <%= selected %> py-4 <%= pan_tithi.present? ? "tithi_feeded" : "" %>"
                data-date="<%= dt.strftime("%d/%m/%Y")%>"
                data-admin-panchangtithi-target="calendarDate"
                data-action="click->admin-panchangtithi#selectDate"
                data-panchangid="<%= params[:id] %>"
                data-tithiid="<%= pan_tithi.present? ? pan_tithi[0].id  : ''%>"

                id="<%= "td-#{dt.day}-#{dt.month}-#{dt.year}" %>"
              >
                <span class="date-active"
                  data-action="click->admin-panchangtithi#selectDate" id="<%= "date-#{dt.day}-#{dt.month}-#{dt.year}" %>" >
                  <%= dt.strftime("%d") %>
                </span>
                <% if pan_tithi.present? %>
                  <div style="margin-top: 10px;">
                    <% pan_tithi.each do | tithi | %>
                      <% tithi_cls = (tithi.paksh == "कृष्ण पक्ष") ? 'tithi-krishna-paksh' : 'tithi-shukla-paksh' %>
                      <span class="<%= tithi_cls %>" data-tithiid="<%= tithi.id %>"
                          data-panchangid="<%= tithi.panchang_id %>" data-action="click->admin-panchangtithi#editTithi">
                        <%= "#{tithi.tithi}" %>
                      </span>
                    <% end %>
                  </div>
                <% end %>
              </td>
            <% else %>
              <td class="not-cur-month">
                <span class="date-inactive"><%= dt.strftime("%d") %></span>
              </td>
            <% end %>
          <% if indx%7 == 66 %>
            </tr>
          <% end %>
          <% indx = indx + 1%>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
