<%= form_with(model: [:admin, scripture], html: {
  'data-context-target': 'form', 'data-action': 'context#submitForm'}) do |form| %>
  <div class="row">
    <div class="mb-3 alert alert-danger alert-dismissible fade show" style="display:  <%= scripture.errors.present? ? 'block' : 'none' %>;" role="alert">
      <% scripture.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
      <button type="button" class="btn-close" onclick="$('.alert').hide()" aria-label="Close" style="font-size: 12px; "></button>
    </div>

    <% 
      scirpture_type_list = @scripture_types.map{|scrptr| [scrptr.name, scrptr.id]}
      section_type_id = nil
    %>
    <div class='mb-3'>
      <div class="row">
        <div class="col-md-6">
          <label class='form-label'>
            रसिक वाणी/ग्रन्थ का प्रकार <i class="fa fa-asterisk req-field" aria-hidden="true"></i>
          </label>
          <%= form.select :scripture_type_id, options_for_select(scirpture_type_list, section_type_id), {prompt: 'रसिक ग्रन्थ/वाणी को चुनिये'}, 
            class: 'form-control', 'data-action': 'change->admin-chapter#getSections' %>
        </div>
        <div class="col-md-6">
          <label class='form-label'>
            ग्रन्थ की श्रेणी <i class="fa fa-asterisk req-field" aria-hidden="true"></i>
          </label>
          <%= form.select :category, options_for_select(Scripture::CATEGORIES, form.object.category),  {:prompt => 'श्रेणी चुने'}, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class='mb-3'>
      <div class="row">
        <div class="col-md-6">
          <label class='form-label'>
            नाम <i class="fa fa-asterisk req-field" aria-hidden="true"></i>
          </label>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
        <div class="col-md-6">
          <label class='form-label'>
            नाम (अंग्रेजी) <i class="fa fa-asterisk req-field" aria-hidden="true"></i>
          </label>
          <%= form.text_field :name_eng, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class='mb-3'>
      <div class="row">
        <div class="col-md-6">
          <label class='form-label'>
            लेखक
          </label>
          <%#= form.text_field :author_id, class: 'form-control' %>
          <div data-controller="autocomplete" data-autocomplete-url-value="/authors/autocomplete_term">
            <%= form.hidden_field :author_id, class: 'form-control', 'data-autocomplete-target':'hidden' %>
            <input type="text" class="form-control" data-autocomplete-target="input" autocomplete="off" spellcheck="false">
            <ul class="list-group" data-autocomplete-target="results"></ul>
          </div>
        </div>
        <div class="col-md-6">
          <label class='form-label'>
            ग्रंथ में सेक्शन है ?
          </label>
          <%= form.select :has_section, options_for_select({'Yes': true, 'No': false}, form.object.has_section), {}, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class='mb-3'>
      <label class='form-label'>
        विवरण
      </label>
      <%= form.text_area :description, class: 'tinymce' %>
    </div>
    <div class='text-center mt-3 actions'>
      <div class="row">
        <div class="col-md-4">
          <% if form.object.id.blank? %>
            <%= form.submit "ग्रन्थ जोड़े", class: 'btn btn-lg btn-primary form-control' %>
          <% else %>
            <%= form.submit "ग्रन्थ अद्यतन करे", class: 'btn btn-lg btn-primary form-control' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
