<%
  page = (cs_articles.current_page - 1)
  page_size = cs_articles.present? ? cs_articles.limit_value : 0
%>

<% cs_articles && cs_articles.each_with_index do |cs_article, index|%>
  <li class="list-group-item">
    <span class="fLeft" id="aritcle-title-<%= cs_article.id %>">
      <strong><%= (page*page_size) + (index+1)%>.</strong> <%= cs_article.article.hindi_title %>
    </span>
    <span class="fRight added-article-icon" data-id="<%= cs_article.id %>" data-action-name="removal"
      data-action="click->admin-cscripture#articlesAdditionDeletion" >
      <i class="fa-solid fa-trash-can pull-right"></i>
    </span>
  </li>
<% end %>
<br>
<div id="paginate-block">
  <% if params[:action] == "add_articles_page" %> 
    <%= paginate cs_articles %>
  <% else %>
    <%= paginate cs_articles, remote: true, :params => { controller: :'/admin/compiled_scriptures', action: :search_articles } %>
  <% end %>
</div>