<div class="card mb-2">
  <div class="page-subject-header-purple mb-3">
    <span class="fnt-sz-26"><%= @strotum.title %> </span>
  </div>
  <div class="card-body h-100 pb-2" id="article-list">
    <div class="row" data-scripture-target="pageParent">
      <div class="col-md-8 fnt-sz-22">
        <div class="article-pad" data-scripture-target="page" >
          <% @articles.each_with_index do | article, index | %>
            <div class="mb-1 fnt-b <%= (index % 2) == 0 ? "text-success" : "text-primary" %>">
              <% indexing = "॥#{(index+1).to_s}॥" %>
              <% if article.content.index(indexing).blank? %>
                <% contnt = article.content.gsub("॥", indexing) %>
                <%= raw contnt %>
              <% else %>
                <%= raw article.content %>
              <% end %>
            </div>
            <div class="mb-3 fnt-sz-18">
              <%= raw article.interpretation %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="page-subject-header-lemon">
          सम्बन्धित बिषय
        </div>
        <% if @strota.present? %>
          <ul class="list-group list-group-flush mb-4">
            <% @strota.each_with_index do | strotum, index | %>
              <%= link_to public_strotum_path(strotum.title) do %>
                <li class="list-group-item">
                  <i class="fa-solid fa-book me-2 user-icon text-primary"></i>
                  <%= strotum.title %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          There is no more data available now.
        <% end %>
      </div>
    </div>
  </div>
</div>