<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="card-body h-150 py-2 px-2">
						<div class="row">
							<div class="col mt-0 ">
								<h5 class="card-title">Articles</h5>
							</div>
							<div class="col-auto">
								<div class="stat-new text-primary">
									<i class="fa-solid fa-file"></i>
								</div>
							</div>
						</div>
						<div class="fnt-sz-15 mt-4">
							<div class="mb-1 approved-status">
								<a href="<%= approved_articles_admin_articles_path %>">
									Approved:&nbsp;<%= @articles_group_by_approval[true] %>
								</a>
							</div>
							<div class="mb-0 pending-status" >
								<a href="<%= pending_articles_admin_articles_path %>">
									Pending:&nbsp;&nbsp;&nbsp;<%= @articles_group_by_approval[nil] %>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body h-150 py-2 px-2">
						<div class="row">
							<div class="col mt-0 ">
								<h5 class="card-title">Authors</h5>
							</div>
							<div class="col-auto">
								<div class="stat-new text-primary">
									<i class="fa-solid fa-user"></i>
								</div>
							</div>
						</div>
						<div class="fnt-sz-15 mt-4">
							<div class="mb-1 approved-status">
								<a href="<%= approved_authors_admin_authors_path %>">
									Approved:&nbsp;<%= @authors_group_by_approval[true] %>
								</a>
							</div>
							<div class="mb-0 pending-status" >
								<a href="<%= pending_authors_admin_authors_path %>">
									Pending:&nbsp;&nbsp;&nbsp;<%= @authors_group_by_approval[false] %>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body h-150 py-2 px-2">
						<div class="row">
							<div class="col mt-0">
								<h5 class="card-title">Contexts</h5>
							</div>
							<div class="col-auto">
								<div class="stat-new text-primary">
									<i class="fa-solid fa-tree"></i>
								</div>
							</div>
						</div>
						<div class="fnt-sz-15 mt-4">
							<div class="mb-1 approved-status">
								<a href="<%= approved_contexts_admin_contexts_path %>">
									Approved:&nbsp;<%= @contexts_group_by_approval[true] %>
								</a>
							</div>
							<div class="mb-0 pending-status" >
								<a href="<%= pending_contexts_admin_contexts_path %>">
									Pending:&nbsp;&nbsp;&nbsp;<%= @contexts_group_by_approval[false] %>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body h-150 py-2 px-2">
						<div class="row">
							<div class="col mt-0">
								<h5 class="card-title">Comments Spam Report</h5>
							</div>
							<div class="col-auto">
								<div class="stat-new text-primary">
									<i class="fa-solid fa-comment-slash"></i>
								</div>
							</div>
						</div>
						<div class="fnt-sz-15 mt-4">
							<div class="mb-0 pending-status" >
								<a href="<%= comment_reportings_path %>">
									Reported Spam Comments:&nbsp;<%= @spam_comment_reports.count %>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body h-150 py-2 px-2">
						<div class="row">
							<div class="col mt-0">
								<h5 class="card-title">User Mgmt Report</h5>
							</div>
							<div class="col-auto">
								<div class="stat-new text-primary">
									<i class="fa-solid fa-user"></i>
								</div>
							</div>
						</div>
						<div class="fnt-sz-15 mt-4">
							<div class="mb-0 pending-status" >
								<a href="<%= admin_user_mgmts_path %>">
									Registered User:&nbsp;<%= @registered_users.count %>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-body h-400">
				<%= pie_chart @contexts_by_approval, title: "प्रसंग रिपोर्ट" %>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="card">
			<div class="card-body h-400">
				<%= line_chart @articles_by_count, xtitle: "Date", ytitle: "रचना संख्या", title: "रचनायें: समय आधारित रिपोर्ट" %>
				<%#= column_chart @article_by_counts, xtitle: "Date", ytitle: "रचना संख्या" %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-body h-400">
				<%= pie_chart @articles_by_type, title: "रचनायें: प्रकार आधारित रिपोर्ट" %>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="card">
			<div class="card-body h-400">
				<%= column_chart @artcles_by_context, title: "रचनायें: प्रसंग आधारित रिपोर्ट	" %>
				<%#= column_chart @article_by_counts, xtitle: "Date", ytitle: "रचना संख्या" %>
			</div>
		</div>
	</div>
</div>

<div class="row" data-controller="dashboard">
	<div class="col-md-6">
		<%#= render "pending_contexts", contexts_pending: @contexts_pending,
			contexts_approved: @contexts_approved %>
		<div class="card">
			<div class="card-body h-450">
				<span class="col-md-6 text-start article-title text-primary">
		      लंबित प्रसंग सूची 
		    </span>
		    <div class="dropdown-divider"></div>
		    <table class="table">
		      <thead class="table-primary ps-0 pe-0">
		        <tr>
		          <th scope="col">S. No.</th>
		          <th scope="col">नए प्रसंग</th>
		        </tr>
		      </thead>
		      <tbody>
		      	<% if @contexts_pending.present? %>
		          <% @contexts_pending.limit(5).each_with_index do |context, index| %>
		            <tr>
		              <td><%= index+1 %></td>
		              <td>
		              	<%= context.name %>
		              </td>
		          	</tr>
		          <% end %>
		        <% else %>
		          <td colspan="4">
		          	अभी रिकॉर्ड उपलब्ध नहीं है.
		          </td>
		        <% end %>
						<tr>
							<td colspan="5">
								<a href="<%= pending_contexts_admin_contexts_path %>" class="fRight">
									स्वीकृत करने/और पढ़ने के लिए यहाँ क्लिक करे 
								</a>
							</td>
						</tr>
		      </tbody>
		    </table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<%#= render "pending_authors", authors_pending: @authors_pending,
			authors_approved: @authors_approved %>
		<div class="card">
		<div class="card-body h-450">
	    <span class="col-md-6 text-start article-title text-primary">
	      लंबित रचनाकार / कवि / भक्त सूची 
	    </span>
	    <div class="dropdown-divider"></div>
	    <table class="table">
	      <thead class="table-primary">
	        <tr>
	          <th scope="col">S. No.</th>
	          <th scope="col">नए रचनाकार</th>
	        </tr>
	      </thead>
	      <tbody>
	      	<% if @authors_pending.present? %>
	          <% @authors_pending.limit(5).each_with_index do |author, index| %>
	            <tr>
	            	<td><%= index +1 %></td>
	            	<td>
	            		<%= author.name %> </td>
	            </tr>
	          <% end %>
	        <% else %>
	          <td colspan="3">
	          	अभी रिकॉर्ड उपलब्ध नहीं है.
	          </td>
	        <% end %>
					<tr>
						<td colspan="5">
							<a href="<%= pending_authors_admin_authors_path %>" class="fRight">
								स्वीकृत करने/और पढ़ने के लिए यहाँ क्लिक करे
							</a>
						</td>
					</tr>
	      </tbody>
	    </table>
		</div>
	</div>
	</div>
</div>