<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk" href="<%= admin_dashboards_path %>">
    <span class="align-middle">
      <i class="fa fa-dashboard"></i>
      Dashboard
    </span>
  </a>
</li>
<div class="dropdown-divider1"></div>
<%
  app_subject_actions = ["index", "pending", "approved"]
  report_actions = ["report"]
  is_app_subject_display = show_admin_collapse_items(app_subject_actions)
  is_report_display = show_admin_collapse_items(report_actions)

  # is_pending_active = show_admin_collapse_items("pending")
  # is_approved_active = show_admin_collapse_items("approved")
  # is_report_active = show_admin_collapse_items(["report"])
  is_article_type_active = show_collapse_items("article_types")
  is_contexts_active = show_collapse_items("contexts")
%>
<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk" data-bs-toggle="collapse" href="#appContent" role="button"
    aria-expanded="false" aria-controls="appContent" data-id="appContent"
    data-action="click->sidebar#toggleTab">
    <span class="align-middle">
      App विषय-सूची
    </span>
    <i class="fa-solid fa-angle-<%= (is_app_subject_display == "show") ? "down" : "right" %>"></i>
  </a>
</li>
<div class="collapse <%= is_app_subject_display %>"
  data-sidebar-target="anchorListBlock" id="appContent">
  <li class="sidebar-item <%= set_admin_lnk_active("admin/articles", app_subject_actions) %>">
    <a class="sidebar-link" href="<%= admin_articles_path %>">
      <span class="align-middle">
        रचना
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_admin_lnk_active("admin/authors", app_subject_actions) %>">
    <a class="sidebar-link" href="<%= admin_authors_path %>">
      <span class="align-middle">
        रचनाकार
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_admin_lnk_active("admin/tags", app_subject_actions) %>">
    <a class="sidebar-link" href="<%= admin_tags_path %>">
      <span class="align-middle">
        टैग्स
      </span>
    </a>
  </li>
  <!-- <li class="sidebar-item <%#= set_admin_lnk_active("admin/contexts", app_subject_actions) %>">
    <a class="sidebar-link" href="<%#= admin_contexts_path %>">
      <span class="align-middle">
        प्रसंग
      </span>
    </a>
  </li> -->
</div>
<div class="dropdown-divider1"></div>
<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk" data-bs-toggle="collapse" href="#adminReports" role="button" aria-expanded="false" aria-controls="adminReports" data-id="adminReports"
    data-action="click->sidebar#toggleTab">
    <span class="align-middle">
      रिपोर्ट्स
    </span>
    <i class="fa-solid fa-angle-<%= (is_report_display == "show") ? "down" : "right" %>"></i>
  </a>
</li>
<div class="collapse <%= is_report_display %>"
  data-sidebar-target="anchorListBlock" id="adminReports">
  <li class="sidebar-item <%= set_admin_lnk_active("admin/articles", report_actions) %>">
    <a class="sidebar-link" href="<%= report_articles_admin_articles_path %>">
      <span class="align-middle">
        रचना
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_admin_lnk_active("admin/authors", report_actions) %>">
    <a class="sidebar-link" href="<%= report_authors_admin_authors_path %>">
      <span class="align-middle">
        रचनाकार
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_admin_lnk_active("admin/contexts", report_actions) %>">
    <a class="sidebar-link" href="<%= report_contexts_admin_contexts_path %>">
      <span class="align-middle">
        प्रसंग
      </span>
    </a>
  </li>
</div>
<div class="dropdown-divider1"></div>
<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk" data-bs-toggle="collapse" href="#articleTypeList" role="button" aria-expanded="false" aria-controls="articleTypeList" data-id="articleTypeList"
    data-action="click->sidebar#toggleTab">
    <span class="align-middle">
      रचना प्रकार
    </span>
    <i class="fa-solid fa-angle-<%= (is_article_type_active == "show") ? "down" : "right" %>"></i>
  </a>
</li>
<div class="collapse  <%= is_article_type_active %>" data-sidebar-target="anchorListBlock" id="articleTypeList">
  <li class="sidebar-item <%= set_active("article_types", "new") %>">
    <a class="sidebar-link" href="<%= new_article_type_path %>">
      <span class="align-middle">
        रचना प्रकार जोड़े
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("article_types", "others") %>">
    <a class="sidebar-link" href="<%= article_types_path %>">
      <span class="align-middle">
        रचना प्रकार सूची
      </span>
    </a>
  </li>
</div>
<div class="dropdown-divider1"></div>
<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk" data-bs-toggle="collapse" href="#contextList"   role="button" aria-expanded="false" aria-controls="contextList" data-id="contextList"
    data-action="click->sidebar#toggleTab">
    <span class="align-middle">
      प्रसंग
    </span>
    <i class="fa-solid fa-angle-<%= (is_contexts_active == "show") ? "down" : "right" %>"></i>
  </a>
</li>
<div class="collapse  <%= is_contexts_active %>" data-sidebar-target="anchorListBlock" id="contextList">
  <li class="sidebar-item <%= set_active("contexts", "new") %>">
    <a class="sidebar-link" href="<%= new_context_path %>">
      <span class="align-middle">
        प्रसंग जोड़े
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("contexts", "others") %>">
    <a class="sidebar-link" href="<%= contexts_path %>">
      <span class="align-middle">
        प्रसंग सूची
      </span>
    </a>
  </li>
</div>
<div class="dropdown-divider1"></div>
<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk" href="<%= admin_panchangs_path %>">
    <span class="align-middle">
      पंचांग
    </span>
  </a>
</li>
<div class="dropdown-divider1"></div>
<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk" href="<%= admin_suggestions_path %>">
    <span class="align-middle">
      सुझाव
    </span>
  </a>
</li>
