<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk" href="<%= admin_dashboards_path %>">
    <span class="align-middle">
      <i class="fa fa-dashboard"></i>
      Dashboard
    </span>
  </a>
</li>
<div class="dropdown-divider1"></div>
<%
  is_article_type_active = show_collapse_items("admin/article_types")
  is_contexts_active = show_collapse_items("admin/contexts")
  is_scripture_active = show_collapse_items("admin/scriptures,admin/chapters")#,admin/scripture_articles")
  is_scripture_article_active = show_collapse_items("admin/scripture_articles")

  # is_granth_article_active = (params[:granth_type] == 'granth') ? is_scripture_article_active : nil
  # is_vani_article_active = (params[:granth_type] == 'vani') ? is_scripture_article_active : nil
  
  is_compiled_scripture_active = show_collapse_items('admin/compiled_scriptures')

  is_chpater_active = show_collapse_items("admin/chapters")
  is_strota_active = show_collapse_items('admin/strota,admin/strota_articles')
  new_actions = ['new'] 
  other_actions = ['index', 'show', 'edit']
%>
<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk" data-bs-toggle="collapse" href="#appContent" role="button"
    aria-expanded="false" aria-controls="appContent" data-id="appContent"
    data-action="click->sidebar#toggleTab">
    <span class="align-middle">
      App विषय-सूची
    </span>
    <i class="fa-solid fa-angle-<%= (show_admin_collapse_items == "show") ? "down" : "right" %>"></i>
  </a>
</li>
<div class="collapse <%= show_admin_collapse_items %>"
  data-sidebar-target="anchorListBlock" id="appContent">
  <li class="sidebar-item <%= set_admin_lnk_active("admin/articles") %>">
    <a class="sidebar-link" href="<%= admin_articles_path %>">
      <span class="align-middle">
        रचना
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_admin_lnk_active("admin/authors") %>">
    <a class="sidebar-link" href="<%= admin_authors_path %>">
      <span class="align-middle">
        रचनाकार
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_admin_lnk_active("admin/tags") %>">
    <a class="sidebar-link" href="<%= admin_tags_path %>">
      <span class="align-middle">
        टैग्स
      </span>
    </a>
  </li>
  <!-- <li class="sidebar-item <%#= set_admin_lnk_active("admin/contexts", app_subject_actions) %>">
    <a class="sidebar-link" href="<%#= admin_contexts_path %>">
      <span class="align-middle">
        प्रसंग
      </span>
    </a>
  </li> -->
</div>
<div class="dropdown-divider1"></div>
<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk" data-bs-toggle="collapse" href="#adminReports" role="button" aria-expanded="false" aria-controls="adminReports" data-id="adminReports"
    data-action="click->sidebar#toggleTab">
    <span class="align-middle">
      रिपोर्ट्स
    </span>
    <i class="fa-solid fa-angle-<%= show_reports_items("admin/reports", nil) %>"></i>
  </a>
</li>
<div class="collapse <%= "show" if show_reports_items("admin/reports", nil) == "down" %>"
  data-sidebar-target="anchorListBlock" id="adminReports">
  <li class="sidebar-item <%= show_reports_items(nil,'articles_report') %>">
    <a class="sidebar-link" href="<%= articles_report_admin_reports_path %>">
      <span class="align-middle">
        रचना
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= show_reports_items(nil,'authors_report') %>">
    <a class="sidebar-link" href="<%= authors_report_admin_reports_path %>">
      <span class="align-middle">
        रचनाकार
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= show_reports_items(nil,'contexts_report') %>">
    <a class="sidebar-link" href="<%= contexts_report_admin_reports_path %>">
      <span class="align-middle">
        प्रसंग
      </span>
    </a>
  </li>
</div>
<div class="dropdown-divider1"></div>
<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk" data-bs-toggle="collapse" href="#articleTypeList" role="button" aria-expanded="false" aria-controls="articleTypeList" data-id="articleTypeList"
    data-action="click->sidebar#toggleTab">
    <span class="align-middle">
      रचना प्रकार
    </span>
    <i class="fa-solid fa-angle-<%= (is_article_type_active == "show") ? "down" : "right" %>"></i>
  </a>
</li>
<div class="collapse  <%= is_article_type_active %>" data-sidebar-target="anchorListBlock" 
  id="articleTypeList">
  <li class="sidebar-item <%= set_active("admin/article_types", new_actions) %>">
    <a class="sidebar-link" href="<%= new_admin_article_type_path %>">
      <span class="align-middle">
        रचना प्रकार जोड़े
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("admin/article_types", other_actions) %>">
    <a class="sidebar-link" href="<%= admin_article_types_path %>">
      <span class="align-middle">
        रचना प्रकार सूची
      </span>
    </a>
  </li>
</div>
<div class="dropdown-divider1"></div>
<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk" data-bs-toggle="collapse" href="#contextList"
    role="button" aria-expanded="false" aria-controls="contextList" data-id="contextList"
    data-action="click->sidebar#toggleTab">
    <span class="align-middle">
      प्रसंग
    </span>
    <i class="fa-solid fa-angle-<%= (is_contexts_active == "show") ? "down" : "right" %>"></i>
  </a>
</li>
<div class="collapse  <%= is_contexts_active %>" data-sidebar-target="anchorListBlock" id="contextList">
  <li class="sidebar-item <%= set_active("admin/contexts", new_actions) %>">
    <a class="sidebar-link" href="<%= new_admin_context_path %>">
      <span class="align-middle">
        प्रसंग जोड़े
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("admin/contexts", other_actions) %>">
    <a class="sidebar-link" href="<%= admin_contexts_path %>">
      <span class="align-middle">
        प्रसंग सूची
      </span>
    </a>
  </li>
</div>
<div class="dropdown-divider1"></div>
<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk"  data-bs-toggle="collapse" href="#scriptureList"
    role="button" aria-expanded="false" aria-controls="scriptureList" data-id="scriptureList"
    data-action="click->sidebar#toggleTab">
    <span class="align-middle">
      रसिक वाणी/ग्रन्थ
    </span>
    <i class="fa-solid fa-angle-<%= (is_scripture_active == "show") ? "down" : "right" %>"></i>
  </a>
</li>
<div class="collapse  <%= is_scripture_active %>" data-sidebar-target="scriptureListBlock" id="scriptureList">
  <li class="sidebar-item <%= set_active("admin/scriptures", new_actions) %>">
    <a class="sidebar-link" href="<%= new_admin_scripture_path %>">
      <span class="align-middle">
        रसिक वाणी/ग्रन्थ जोड़े
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("admin/scriptures", other_actions) %>">
    <a class="sidebar-link" href="<%= admin_scriptures_path %>">
      <span class="align-middle">
        रसिक वाणी/ग्रन्थ सूची
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("admin/chapters", new_actions) %>">
    <a class="sidebar-link" href="<%= new_admin_chapter_path %>">
      <span class="align-middle">
        अध्याय जोड़े
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("admin/chapters", other_actions) %>">
    <a class="sidebar-link" href="<%= admin_chapters_path %>">
      <span class="align-middle">
        अध्याय सूची
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("admin/chapters", ["add_section_chapters"]) %>">
    <a class="sidebar-link" href="<%= add_section_chapters_admin_chapters_path %>">
      <span class="align-middle">
        सेक्शन में अध्याय जोड़े 
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("admin/chapters", ["remove_section_chapters"]) %>">
    <a class="sidebar-link" href="<%= remove_section_chapters_admin_chapters_path %>">
      <span class="align-middle">
        सेक्शन से अध्याय हटायें
      </span>
    </a>
  </li>
</div>
<div class="dropdown-divider1"></div>
<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk"  data-bs-toggle="collapse" href="#granthArticle"
    role="button" aria-expanded="false" aria-controls="granthArticle" data-id="granthArticle"
    data-action="click->sidebar#toggleTab">
    <span class="align-middle">
      ग्रन्थ की रचना
    </span>
    <i class="fa-solid fa-angle-<%= (is_scripture_article_active == "show") ? "down" : "right" %>"></i>
  </a>
</li>
<div class="collapse  <%= is_scripture_article_active %>" data-sidebar-target="granthArticleBlock" id="granthArticle">
  <li class="sidebar-item <%= set_active("admin/scripture_articles", new_actions) %>">
    <a class="sidebar-link" href="<%= new_admin_scripture_article_path %>">
      <span class="align-middle">
        ग्रन्थ रचना जोड़े
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("admin/scripture_articles", other_actions) %>">
    <a class="sidebar-link" href="<%= admin_scripture_articles_path %>">
      <span class="align-middle">
        ग्रन्थ रचना सूची
      </span>
    </a>
  </li>
</div>
<div class="dropdown-divider1"></div>
<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk"  data-bs-toggle="collapse" href="#compiledScripture"
    role="button" aria-expanded="false" aria-controls="compiledScripture" data-id="compiledScripture"
    data-action="click->sidebar#toggleTab">
    <span class="align-middle">
      संकलित ग्रन्थ रचना
    </span>
    <i class="fa-solid fa-angle-<%= (is_compiled_scripture_active == "show") ? "down" : "right" %>"></i>
  </a>
</li>
<div class="collapse  <%= is_compiled_scripture_active %>" data-sidebar-target="compiledScriptureBlock" id="compiledScripture">
  <li class="sidebar-item <%= set_active("admin/compiled_scriptures", ['index', 'add_article', 'remove_article', 'add_articles_page']) %>">
    <a class="sidebar-link" href="<%= admin_compiled_scriptures_path %>">
      <span class="align-middle">
        संकलित ग्रन्थ में रचनायें जोड़े
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("admin/scripture_articles", ['edit_article_index']) %>">
    <a class="sidebar-link" href="<%= scriptures_for_indexing_admin_compiled_scriptures_path %>">
      <span class="align-middle">
        रचना अनुक्रम का अद्यतन
      </span>
    </a>
  </li>
</div>
<div class="dropdown-divider1"></div>
<li class="sidebar-item">
  <a class="sidebar-link admin-bar-lnk" data-bs-toggle="collapse" href="#strotaBlock"
    role="button" aria-expanded="false" aria-controls="strotaBlock" data-id="strotaBlock"
    data-action="click->sidebar#toggleTab">
    <span class="align-middle">
      स्त्रोत/आरती
    </span>
    <i class="fa-solid fa-angle-<%= (is_strota_active == "show") ? "down" : "right" %>"></i>
  </a>
</li>
<div class="collapse  <%= is_strota_active %>" data-sidebar-target="strotaBlock" id="strotaBlock">
  <li class="sidebar-item <%= set_active("admin/strota", new_actions) %>">
    <a class="sidebar-link" href="<%= new_admin_strotum_path %>">
      <span class="align-middle">
        स्त्रोत/आरती जोड़े
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("admin/strota", other_actions) %>">
    <a class="sidebar-link" href="<%= admin_strota_path %>">
      <span class="align-middle">
        स्त्रोत/आरती सूची
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("admin/strota_articles", new_actions) %>">
    <a class="sidebar-link" href="<%= new_admin_strota_article_path %>">
      <span class="align-middle">
        स्त्रोत/आरती रचना जोड़े
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("admin/strota_articles", other_actions) %>">
    <a class="sidebar-link" href="<%= admin_strota_articles_path %>">
      <span class="align-middle">
        स्त्रोत/आरती रचना सूची
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("admin/strota_articles", ['edit_article_index']) %>">
    <a class="sidebar-link" href="<%= edit_article_index_admin_strota_articles_path %>">
      <span class="align-middle">
        रचना अनुक्रम का अद्यतन
      </span>
    </a>
  </li>
</div>
<div class="dropdown-divider1"></div>
<li class="sidebar-item <%= set_active("admin/panchangs,admin/panchang_tithis", other_actions.push('new')) %>">
  <a class="sidebar-link admin-bar-lnk" href="<%= admin_panchangs_path %>">
    <span class="align-middle">
      पंचांग
    </span>
  </a>
</li>
<div class="dropdown-divider1"></div>
<li class="sidebar-item <%= set_active("admin/suggestions", other_actions) %>">
  <a class="sidebar-link admin-bar-lnk" href="<%= admin_suggestions_path %>">
    <span class="align-middle">
      सुझाव
    </span>
  </a>
</li>
