<li class="sidebar-item">
  <a class="sidebar-link" href="<%= admin_dashboards_path %>">
    <span class="align-middle">
      <i class="fa fa-dashboard"></i>
      Dashboard
    </span>
  </a>
</li>
<div class="dropdown-divider"></div>
<li class="sidebar-item">
  <a class="sidebar-link" data-bs-toggle="collapse" href="#approvedContent" role="button" aria-expanded="false" aria-controls="approvedContent">
    <span class="align-middle">
      Approved Contents
    </span>
  </a>
</li>
<div class="collapse <%= show_admin_collapse_items("approved") %>" id="approvedContent">
  <li class="sidebar-item <%= set_admin_lnk_active("admin/articles", "approved") %>">
    <a class="sidebar-link" href="<%= approved_articles_admin_articles_path %>">
      <span class="align-middle">
        रचना
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_admin_lnk_active("admin/authors", "approved") %>">
    <a class="sidebar-link" href="<%= approved_authors_admin_authors_path %>">
      <span class="align-middle">
        रचनाकार
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_admin_lnk_active("admin/contexts", "approved") %>">
    <a class="sidebar-link" href="<%= approved_contexts_admin_contexts_path %>">
      <span class="align-middle">
        प्रसंग
      </span>
    </a>
  </li>
</div>
<div class="dropdown-divider1"></div>
<li class="sidebar-item">
  <a class="sidebar-link" data-bs-toggle="collapse" href="#pendingContent" role="button" aria-expanded="false" aria-controls="contentForAppendingContentproval">
    <span class="align-middle">
      Pending Contents
    </span>
  </a>
</li>
<div class="collapse <%= show_admin_collapse_items("pending") %>" id="pendingContent">
  <li class="sidebar-item <%= set_admin_lnk_active("admin/articles", "pending") %>">
    <a class="sidebar-link" href="<%= pending_articles_admin_articles_path %>">
      <span class="align-middle">
        रचना
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_admin_lnk_active("admin/authors", "pending") %>">
    <a class="sidebar-link" href="<%= pending_authors_admin_authors_path %>">
      <span class="align-middle">
        रचनाकार
      </span>
    </a>
  </li>
  <!-- <li class="sidebar-item <%= set_active("articles", "others") %>">
    <a class="sidebar-link" href="<%= articles_path %>">
      <span class="align-middle">
        रचना प्रकार
      </span>
    </a>
  </li> -->
  <li class="sidebar-item <%= set_admin_lnk_active("admin/contexts", "pending") %>">
    <a class="sidebar-link" href="<%= pending_contexts_admin_contexts_path %>">
      <span class="align-middle">
        प्रसंग
      </span>
    </a>
  </li>
</div>
<div class="dropdown-divider1"></div>
<li class="sidebar-item">
  <a class="sidebar-link" data-bs-toggle="collapse" href="#adminReports" role="button" aria-expanded="false" aria-controls="adminReports">
    <span class="align-middle">
      Reports
    </span>
  </a>
</li>
<div class="collapse <%= show_collapse_items("articles") %>" id="adminReports">
  <li class="sidebar-item <%= set_active("articles", "new") %>">
    <a class="sidebar-link" href="<%= new_article_path %>">
      <span class="align-middle">
        रचना
      </span>
    </a>
  </li>
  <li class="sidebar-item <%= set_active("articles", "others") %>">
    <a class="sidebar-link" href="<%= articles_path %>">
      <span class="align-middle">
        रचनाकार
      </span>
    </a>
  </li>
  <!-- <li class="sidebar-item <%= set_active("articles", "others") %>">
    <a class="sidebar-link" href="<%= articles_path %>">
      <span class="align-middle">
        रचना प्रकार
      </span>
    </a>
  </li> -->
  <li class="sidebar-item <%= set_active("articles", "others") %>">
    <a class="sidebar-link" href="<%= articles_path %>">
      <span class="align-middle">
        प्रसंग
      </span>
    </a>
  </li>
</div>