<nav class="navbar navbar-expand-lg navbar-light" style="margin-left: -0.9%;margin-right: -0.9%;background-color: #fff;"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>" style="padding: 0px;">
      <img src="/assets/lalji_icon.jpg" alt="ShriHit" class="app-icon">
      श्रीहित
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= root_path %>">
            <i class="fa-solid fa-house"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="article_type_nav_link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            रचना (प्रकार)
          </a>
          <ul class="dropdown-menu" aria-labelledby="article_type_nav_link">
            <% @article_types && @article_types.each do |article_type| %>
              <li>
                <a class="dropdown-item" href="<%= articles_by_type_public_article_types_path(article_type.name) %>">
                  <%= article_type.name %>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="article_type_nav_link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            रचना (प्रसंग)
          </a>
          <ul class="dropdown-menu" aria-labelledby="article_type_nav_link">
            <% @contexts && @contexts.each do |context| %>
              <li>
                <a class="dropdown-item" href="<%= articles_by_context_public_contexts_path(context.name) %>">
                  <%= context.name %>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="author_nav_link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            रचनाकार/लेखक
          </a>
          <ul class="dropdown-menu" aria-labelledby="author_nav_link">
            <% @authors && @authors.each do |author| %>
              <li>
                <a class="dropdown-item" href="<%= public_author_path(author) %>">
                  <%= author.name %>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="contributor_nav_link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            योगदानकर्ता
          </a>
          <ul class="dropdown-menu" aria-labelledby="contributor_nav_link">
            <% @contributors && @contributors.each do |contributor| %>
              <li>
                <a class="dropdown-item" href="<%= public_user_profile_path(contributor.id) %>">
                  <%= contributor.username.capitalize %>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">संत जीवनी</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">भक्ति ग्रन्थ/वाणी</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= public_suggestions_path %>">सुझाव</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= search_articles_public_articles_path %>">
            <i class="fa-solid fa-magnifying-glass"></i> Search Article
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= public_about_path %>">About</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if current_user.blank? %>
          <li class="nav-item">
            <a class="btn btn-outline-info txt-success" href="<%= new_user_session_path %>">
              <i class="fa fa-right-to-bracket"></i>
              Login
            </a>
          </li>
          <li class="nav-item ms-1">
            <a class="btn btn-outline-info" href="<%= new_user_registration_path %>">
              <i class="fa-solid fa-user-plus"></i>
              Signup
            </a>
          </li>
        <% else %>
          <li class="nav-item ms-1 me-2">
            <a class="btn btn-outline-info" href="<%= new_user_registration_path %>">
              <i class="fa-solid fa-user-plus"></i>
              Contributer/Admin Panel
            </a>
          </li>
          <li class="nav-item">
            <%= form_for(current_user, url: destroy_user_session_path, html: { method: :delete }) do |f| %>
              <button type="submit" class="btn btn-outline-info">
                Log out
                <i class="fa-solid fa-right-from-bracket"></i>
              </button>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>