<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="<%= homes_path %>">
      <span class="align-middle">श्रीहित</span>
    </a>
    <ul class="sidebar-nav" data-controller="sidebar">
      <% if current_user.is_admin || current_user.is_super_admin%>
        <%= render partial: "layouts/admin_side_bar" %>
      <% end %>
      <%
        is_articles_active = show_collapse_items("articles")
        is_authors_active = show_collapse_items("authors")
        is_themes_active = show_collapse_items("themes,theme_chapters")
        is_tags_active = show_collapse_items("tags")
        is_sant_bio_active = show_collapse_items("saint_bio_events")
        is_stories_active = show_collapse_items("stories")
        new_actions = ['new'] 
        other_actions = ['index', 'show', 'edit']
      %>
      <div class="dropdown-divider1"></div>
      <li class="sidebar-item">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#aricleList" role="button"
          aria-expanded="false" aria-controls="aricleList" data-id="aricleList"
          data-action="click->sidebar#toggleTab">
          <span class="align-middle">
            रचना
          </span>
          <i class="fa-solid fa-angle-<%= (is_articles_active == "show") ? "down" : "right" %>"></i>
        </a>
      </li>
      <div class="collapse <%= is_articles_active %>" data-sidebar-target="anchorListBlock" id="aricleList">
        <li class="sidebar-item <%= set_active("articles", new_actions) %>">
          <a class="sidebar-link" href="<%= new_article_path %>">
            <span class="align-middle">
              नई रचना जोड़े
            </span>
          </a>
        </li>
        <li class="sidebar-item <%= set_active("articles", other_actions) %>">
          <a class="sidebar-link" href="<%= articles_path %>">
            <span class="align-middle">
              रचना सूची
            </span>
          </a>
        </li>
      </div>
      <div class="dropdown-divider1"></div>
      <li class="sidebar-item">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#authorList"   role="button" aria-expanded="false" aria-controls="authorList" data-id="authorList"
          data-action="click->sidebar#toggleTab">
          <span class="align-middle">
            रचनाकार
          </span>
          <i class="fa-solid fa-angle-<%= (is_authors_active == "show") ? "down" : "right" %>"></i>
        </a>
      </li>
      <div class="collapse <%= is_authors_active %>" data-sidebar-target="anchorListBlock" id="authorList">
        <li class="sidebar-item <%= set_active("authors", new_actions) %>">
          <a class="sidebar-link" href="<%= new_author_path %>">
            <span class="align-middle">
              रचनाकार जोड़े
            </span>
          </a>
        </li>
        <li class="sidebar-item <%= set_active("authors", other_actions) %>">
          <a class="sidebar-link" href="<%= authors_path %>">
            <span class="align-middle">
              रचनाकार सूची
            </span>
          </a>
        </li>
      </div>
      <div class="dropdown-divider1"></div>
      <li class="sidebar-item">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#themeList"   role="button" aria-expanded="false" aria-controls="themeList" data-id="themeList"
          data-action="click->sidebar#toggleTab">
          <span class="align-middle">
            उत्सव
          </span>
          <i class="fa-solid fa-angle-<%= (is_themes_active == "show") ? "down" : "right" %>"></i>
        </a>
      </li>
      <div class="collapse  <%= is_themes_active %>" data-sidebar-target="anchorListBlock" id="themeList">
        <li class="sidebar-item <%= set_active("themes", new_actions) %>">
          <a class="sidebar-link" href="<%= new_theme_path %>">
            <span class="align-middle">
              उत्सव जोड़े
            </span>
          </a>
        </li>
        <li class="sidebar-item <%= set_active("themes", other_actions) %>">
          <a class="sidebar-link" href="<%= themes_path %>">
            <span class="align-middle">
              उत्सव सूची
            </span>
          </a>
        </li>
        <li class="sidebar-item <%= set_active("theme_chapters", new_actions) %>">
          <a class="sidebar-link" href="<%= new_theme_chapter_path %>">
            <span class="align-middle">
              उत्सव का अध्याय जोड़े
            </span>
          </a>
        </li>
        <li class="sidebar-item <%= set_active("theme_chapters", other_actions) %>">
          <a class="sidebar-link" href="<%= theme_chapters_path %>">
            <span class="align-middle">
              उत्सव के अध्याय सूची
            </span>
          </a>
        </li>
      </div>
      <div class="dropdown-divider1"></div>
      <li class="sidebar-item">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#tagList"   role="button" aria-expanded="false" aria-controls="tagList" data-id="tagList"
          data-action="click->sidebar#toggleTab">
          <span class="align-middle">
            टैग्स
          </span>
          <i class="fa-solid fa-angle-<%= (is_tags_active == "show") ? "down" : "right" %>"></i>
        </a>
      </li>
      <div class="collapse  <%= is_tags_active %>" data-sidebar-target="anchorListBlock" id="tagList">
        <li class="sidebar-item <%= set_active("tags", new_actions) %>">
          <a class="sidebar-link" href="<%= new_tag_path %>">
            <span class="align-middle">
              टैग्स जोड़े
            </span>
          </a>
        </li>
        <li class="sidebar-item <%= set_active("tags", other_actions) %>">
          <a class="sidebar-link" href="<%= tags_path %>">
            <span class="align-middle">
              टैग्स सूची
            </span>
          </a>
        </li>
      </div>
      <div class="dropdown-divider1"></div>
      <li class="sidebar-item <%= set_active("panchangs", other_actions) %>">
        <a class="sidebar-link" href="<%= panchangs_path %>">
          <span class="align-middle">
            पंचांग
          </span>
        </a>
      </li>
      <div class="dropdown-divider1"></div>
      <li class="sidebar-item">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#saintBioEvents"  role="button" aria-expanded="false"
          aria-controls="saintBioEvents" data-id="saintBioEvents" data-action="click->sidebar#toggleTab">
          <span class="align-middle">
            संत जीवनी
          </span>
          <i class="fa-solid fa-angle-<%= (is_sant_bio_active == "show") ? "down" : "right" %>"></i>
        </a>
      </li>
      <div class="dropdown-divider1"></div>
      <div class="collapse <%= is_sant_bio_active %>" data-sidebar-target="anchorListBlock" id="saintBioEvents">
        <li class="sidebar-item <%= set_active("saint_bio_events", new_actions) %>">
          <a class="sidebar-link" href="<%= new_saint_bio_event_path %>">
            <span class="align-middle">
              संत जीवनी जोड़े
            </span>
          </a>
        </li>
        <li class="sidebar-item <%= set_active("saint_bio_events", other_actions) %>">
          <a class="sidebar-link" href="<%= saint_bio_events_path %>">
            <span class="align-middle">
              संत जीवनी सूची
            </span>
          </a>
        </li>
      </div>
      <div class="dropdown-divider1"></div>
      <li class="sidebar-item">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#stories"  role="button" aria-expanded="false"
          aria-controls="stories" data-id="stories" data-action="click->sidebar#toggleTab">
          <span class="align-middle">
            संत चरित्र/प्रेरक प्रसंग
          </span>
          <i class="fa-solid fa-angle-<%= (is_stories_active == "show") ? "down" : "right" %>"></i>
        </a>
      </li>
      <div class="dropdown-divider1"></div>
      <div class="collapse <%= is_stories_active %>" data-sidebar-target="anchorListBlock" id="stories">
        <li class="sidebar-item <%= set_active("stories", new_actions) %>">
          <a class="sidebar-link" href="<%= new_story_path %>">
            <span class="align-middle">
              संत चरित्र/प्रेरक प्रसंग जोड़े
            </span>
          </a>
        </li>
        <li class="sidebar-item <%= set_active("stories", other_actions) %>">
          <a class="sidebar-link" href="<%= stories_path %>">
            <span class="align-middle">
              संत चरित्र/प्रेरक प्रसंग सूची
            </span>
          </a>
        </li>
      </div>
    </ul>
  </div>
</nav>
