<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="<%= homes_path %>">
      <span class="align-middle">श्रीहित</span>
    </a>
    <ul class="sidebar-nav" data-controller="sidebar">
      <% if current_user.is_admin || current_user.is_super_admin%>
        <%= render partial: "layouts/admin_side_bar" %>
      <% end %>
      <div class="dropdown-divider1"></div>
      <li class="sidebar-item">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#aricleList" role="button"  
          aria-expanded="false" aria-controls="aricleList" data-id="aricleList"
          data-action="click->sidebar#toggleTab">
          <span class="align-middle">
            रचना
          </span>
          <i class="fa-solid fa-angle-right"></i>
        </a>
      </li>
      <div class="collapse <%= show_collapse_items("articles") %>" data-sidebar-target="anchorListBlock" id="aricleList">
        <li class="sidebar-item <%= set_active("articles", "new") %>">
          <a class="sidebar-link" href="<%= new_article_path %>">
            <span class="align-middle">
              नई रचना जोड़े
            </span>
          </a>
        </li>
        <li class="sidebar-item <%= set_active("articles", "others") %>">
          <a class="sidebar-link" href="<%= articles_path %>">
            <span class="align-middle">
              रचना सूची
            </span>
          </a>
        </li>
      </div>
      <div class="dropdown-divider1"></div>
      <li class="sidebar-item">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#authorList"   role="button" aria-expanded="false" aria-controls="authorList" data-id="authorList"
          data-action="click->sidebar#toggleTab">
          <span class="align-middle">
            रचनाकार
          </span>
          <i class="fa-solid fa-angle-right"></i>
        </a>
      </li>
      <div class="collapse <%= show_collapse_items("authors") %>" data-sidebar-target="anchorListBlock" id="authorList">
        <li class="sidebar-item <%= set_active("authors", "new") %>">
          <a class="sidebar-link" href="<%= new_author_path %>">
            <span class="align-middle">
              रचनाकार जोड़े
            </span>
          </a>
        </li>
        <li class="sidebar-item <%= set_active("authors", "others") %>">
          <a class="sidebar-link" href="<%= authors_path %>">
            <span class="align-middle">
              रचनाकार सूची
            </span>
          </a>
        </li>
      </div>
      <div class="dropdown-divider1"></div>
      <li class="sidebar-item">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#themeList"   role="button" aria-expanded="false" aria-controls="themeList" data-id="themeList"
          data-action="click->sidebar#toggleTab">
          <span class="align-middle">
            उत्सव
          </span>
          <i class="fa-solid fa-angle-right"></i>
        </a>
      </li>
      <div class="collapse  <%= show_collapse_items("themes") %>" data-sidebar-target="anchorListBlock" id="themeList">
        <li class="sidebar-item <%= set_active("themes", "new") %>">
          <a class="sidebar-link" href="<%= new_theme_path %>">
            <span class="align-middle">
              उत्सव जोड़े
            </span>
          </a>
        </li>
        <li class="sidebar-item <%= set_active("themes", "others") %>">
          <a class="sidebar-link" href="<%= themes_path %>">
            <span class="align-middle">
              उत्सव सूची
            </span>
          </a>
        </li>
        <li class="sidebar-item <%= set_active("theme_chapters", "new") %>">
          <a class="sidebar-link" href="<%= new_theme_chapter_path %>">
            <span class="align-middle">
              उत्सव का खंड/प्रकरण जोड़े
            </span>
          </a>
        </li>
        <li class="sidebar-item <%= set_active("theme_chapters", "others") %>">
          <a class="sidebar-link" href="<%= theme_chapters_path %>">
            <span class="align-middle">
              उत्सव के खंड/प्रकरण सूची
            </span>
          </a>
        </li>
      </div>
      <div class="dropdown-divider1"></div>
      <li class="sidebar-item">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#contextList"   role="button" aria-expanded="false" aria-controls="contextList" data-id="contextList"
          data-action="click->sidebar#toggleTab">
          <span class="align-middle">
            प्रसंग
          </span>
          <i class="fa-solid fa-angle-right"></i>
        </a>
      </li>
      <div class="collapse  <%= show_collapse_items("contexts") %>" data-sidebar-target="anchorListBlock" id="contextList">
        <li class="sidebar-item <%= set_active("contexts", "new") %>">
          <a class="sidebar-link" href="<%= new_context_path %>">
            <span class="align-middle">
              प्रसंग जोड़े
            </span>
          </a>
        </li>
        <li class="sidebar-item <%= set_active("contexts", "others") %>">
          <a class="sidebar-link" href="<%= contexts_path %>">
            <span class="align-middle">
              प्रसंग सूची
            </span>
          </a>
        </li>
      </div>
    </ul> 
  </div>
</nav>