<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">श्रीहित</span>
    </a>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a class="sidebar-link" href="#">
          <span class="align-middle">
            <i class="fa fa-dashboard"></i>
            Dashboard
          </span>
        </a>
      </li>
      <li class="sidebar-item <%= set_active(request.fullpath, new_article_path) %>">
        <a class="sidebar-link" href="<%= new_article_path %>">
          <span class="align-middle">
            नई रचना जोड़े
          </span>
        </a>
      </li>
      <li class="sidebar-item <%= set_active(request.fullpath, articles_path) %>">
        <a class="sidebar-link" href="<%= articles_path %>">
          <span class="align-middle">
            रचना सूची
          </span>
        </a>
      </li>
      <hr>
      <!-- <div class="dropdown-divider"></div> -->
      <li class="sidebar-item <%= set_active(request.fullpath, new_author_path) %>">
        <a class="sidebar-link" href="<%= new_author_path %>">
          <span class="align-middle">
            रचनाकार जोड़े
          </span>
        </a>
      </li>
      <li class="sidebar-item <%= set_active(request.fullpath, authors_path) %>">
        <a class="sidebar-link" href="<%= authors_path %>">
          <span class="align-middle">
            रचनाकार सूची
          </span>
        </a>
      </li>
      <hr>
      <li class="sidebar-item <%= set_active(request.fullpath, new_theme_path) %>">
        <a class="sidebar-link" href="<%= new_theme_path %>">
          <span class="align-middle">
            उत्सव जोड़े
          </span>
        </a>
      </li>
      <li class="sidebar-item <%= set_active(request.fullpath, themes_path) %>">
        <a class="sidebar-link" href="<%= themes_path %>">
          <span class="align-middle">
            उत्सव सूची
          </span>
        </a>
      </li>
      <hr>
      <li class="sidebar-item">
        <a class="sidebar-link" href="<%= articles_path %>">
          <span class="align-middle">
            रचना का प्रकार / प्रसंग जोड़े 
          </span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="<%= articles_path %>">
          <span class="align-middle">
            प्रसंग जोड़े 
          </span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="<%= articles_path %>">
          <span class="align-middle">
            प्रसंग जोड़े 
          </span>
        </a>
      </li>
    </ul> 
  </div>
</nav>