<nav class="navbar navbar-expand navbar-light navbar-bg">
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= root_path %>">
          <i class="fa-solid fa-house"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="article_type_nav_link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          रचना (प्रकार)
        </a>
        <ul class="dropdown-menu" aria-labelledby="article_type_nav_link">
          <% @article_types && @article_types.each do |article_type| %>
            <li>
              <a class="dropdown-item" href="<%= articles_by_type_public_articles_path(article_type.name) %>">
                <%= article_type.name %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="article_type_nav_link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          रचना (प्रसंग)
        </a>
        <ul class="dropdown-menu" aria-labelledby="article_type_nav_link">
          <% @contexts && @contexts.each do |context| %>
            <li>
              <a class="dropdown-item" href="<%= articles_by_context_public_articles_path(context.name) %>">
                <%= context.name %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="author_nav_link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          रचनाकार/लेखक
        </a>
        <ul class="dropdown-menu" aria-labelledby="author_nav_link">
          <% @authors && @authors.each do |author| %>
            <li>
              <a class="dropdown-item" href="<%= public_author_path(author) %>">
                <%= author.name %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="contributor_nav_link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          योगदानकर्ता
        </a>
        <ul class="dropdown-menu" aria-labelledby="contributor_nav_link">
          <% @contributors && @contributors.each do |contributor| %>
            <li>
              <a class="dropdown-item" href="<%= public_user_profile_path(contributor.id) %>">
                <%= contributor.username.capitalize %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">संत जीवनी</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">भक्ति ग्रन्थ/वाणी</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= public_suggestions_path %>">नए सुझाव</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= public_about_path %>">About</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-align">
      <li class="nav-item dropdown">
        <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
          <div class="position-relative">
            <i class="fa-regular fa-bell"></i>
            <span class="indicator"><%= @notifications.present? ? @notifications.length : 0 %></span>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
          <div class="dropdown-menu-header">
            <%= @notifications.present? ? @notifications.length : 0 %> New Notifications
          </div>
          <% if @notifications.present? %>
            <div class="list-group">
              <% @notifications.each do | notification |%>
                <a href="<%= get_pending_link(notification[:key_name_eng]) %>" class="list-group-item">
                  <div class="row g-0 align-items-center">
                    <div class="col-2">
                      <i class="text-danger" data-feather="alert-circle"></i>
                    </div>
                    <div class="col-10">
                      <div class="text-dark"><%= notification[:key_name_hindi] %></div>
                      <div class="text-muted small mt-1">
                        <%= notification[:quantity] %>
                        <%#= link_to notification[:quantity], get_pending_link(notification[:key_name_eng]) %>
                      </div>
                    </div>
                  </div>
                </a>
              <% end %>
            </div>
            <div class="dropdown-menu-footer">
              <a href="#" class="text-muted">Show all notifications</a>
            </div>
          <% else %>
            <div class="dropdown-menu-footer">
              अभी कोई नोटिफिकेशन उपलब्ध नहीं है 
            </div>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
          <div class="position-relative">
            <i class="fa-regular fa-message"></i>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
          <div class="dropdown-menu-header">
            <div class="position-relative">
              4 New Messages
            </div>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item">
              <div class="row g-0 align-items-center">
                <div class="col-2">
                  <img src="img/avatars/avatar-5.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
                </div>
                <div class="col-10 ps-2">
                  <div class="text-dark">Vanessa Tucker</div>
                  <div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
                  <div class="text-muted small mt-1">15m ago</div>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item">
              <div class="row g-0 align-items-center">
                <div class="col-2">
                  <img src="img/avatars/avatar-2.jpg" class="avatar img-fluid rounded-circle" alt="William Harris">
                </div>
                <div class="col-10 ps-2">
                  <div class="text-dark">William Harris</div>
                  <div class="text-muted small mt-1">Curabitur ligula sapien euismod vitae.</div>
                  <div class="text-muted small mt-1">2h ago</div>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item">
              <div class="row g-0 align-items-center">
                <div class="col-2">
                  <img src="img/avatars/avatar-4.jpg" class="avatar img-fluid rounded-circle" alt="Christina Mason">
                </div>
                <div class="col-10 ps-2">
                  <div class="text-dark">Christina Mason</div>
                  <div class="text-muted small mt-1">Pellentesque auctor neque nec urna.</div>
                  <div class="text-muted small mt-1">4h ago</div>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item">
              <div class="row g-0 align-items-center">
                <div class="col-2">
                  <img src="img/avatars/avatar-3.jpg" class="avatar img-fluid rounded-circle" alt="Sharon Lessman">
                </div>
                <div class="col-10 ps-2">
                  <div class="text-dark">Sharon Lessman</div>
                  <div class="text-muted small mt-1">Aenean tellus metus, bibendum sed, posuere ac, mattis non.</div>
                  <div class="text-muted small mt-1">5h ago</div>
                </div>
              </div>
            </a>
          </div>
          <div class="dropdown-menu-footer">
            <a href="#" class="text-muted">Show all messages</a>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
          <i class="align-middle" data-feather="settings"></i>
        </a>

        <a class="nav-link dropdown-toggle d-none d-sm-inline-block text-primary" 
          href="#" data-bs-toggle="dropdown">
          <!-- <img src="/assets/lalji_icon.jpg" class="avatar img-fluid rounded me-1" alt="<%= current_user.username %>" /> --> 
          <i class="fa-solid fa-user" style="font-size:18px;"></i>&nbsp;&nbsp;
          <span class="text-dark"><%= current_user.username.capitalize %></span>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="<%= user_profile_path(current_user) %>">
            <i class="fa-solid fa-user"></i>  Profile
          </a>
          <!-- <a class="dropdown-item" href="#">
            <i class="fa-solid fa-chart-pie"></i> Analytics
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="fa-solid fa-gear"></i> Settings & Privacy
          </a>
          <a class="dropdown-item" href="#">
            <i class="fa-solid fa-circle-question"></i> Help Center
          </a> -->
          <div class="dropdown-divider"></div>
          <% if current_user.present? %>
            <%= form_for(current_user, url: destroy_user_session_path, html: { method: :delete }) do |f| %>
              <button type="submit" class="btn dropdown-item">
                <i class="fa-solid fa-right-from-bracket"></i> Log out
              </button>
            <% end %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>