<!DOCTYPE html>
<html>
  <head>
    <title>ShriHitApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <script defer src="/assets/transliteration.js"></script>
    <%= yield(:head) %>
  </head>

  <body>
    <div class="wrapper">
      <div class="main">
        <%= render partial: "layouts/navbar2" %>
        <%= render partial: "layouts/alert_message", locals: {notice: flash[:notice], error: flash[:error]} %>
        <main class="content">
          <div class="container-fluid p-0" style="font-size: 18px;">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <%= yield %>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <%= render partial: "layouts/footer"%>
  </body>
</html>

