<!DOCTYPE html>
<html>
  <head>
    <title>ShriHitApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <%= render partial: "layouts/sidebar" %>
      <div class="main">
        <%= render partial: "layouts/navbar1" %>
        <main class="content">
          <div class="container-fluid p-0">
            <%= yield %>
          </div>
        </main>
        <%= render partial: "layouts/footbar" %>
      </div>
    </div>
  </body>
</html>