<table class="table">
  <thead class="table bg-primary text-white ps-0 pe-0">
    <tr>
    	<th style="width:3%;">#</th>
      <th style="width:12%;">दिनांक </th>
      <th style="width:35%;">तिथि</th>
      <th style="width:3%;">#</th>
      <th style="width:12%;">दिनांक </th>
      <th style="width:35%;">तिथि</th>
    </tr>
  </thead>
  <tbody>
    <% arr_length1 = 0 if arr_length1.blank? %>
    <% if panchang_utsav.present? %>
      <% panchang_utsav.each_with_index do |tithi, local_index| %>
      	<% if tithi && tithi.description.present? %>
          <tr class="pdf-tithi-list">
            <% if local_index < arr_length1 %>
  	      		<td>
                <strong><%= local_index+1 %></strong>
              </td>
          		<td class="text-danger">
  							<strong><%= tithi.date.strftime("%d/%b/%y") %></strong>
  	          	<br/>
  	          	<%= PanchangTithi::WEEKDAYS[tithi.date.wday] %>
  	          </td>
  	          <td class="text-primary">
  	          	<strong>
  	          		<%= tithi.hindi_month.name + " "+ tithi.paksh + "-"+ tithi.tithi.to_s %>
  	          	</strong><br/>
  	          	<%= tithi.description %>
  	          </td>
            <% end %>
            <% if (arr_length1 + local_index) < panchang_utsav.length %>
              <% tithi2 = panchang_utsav.to_a[arr_length1+local_index] %>
              <td>
                <strong><%= arr_length1 + local_index + 1 %></strong>
              </td>
              <td class="text-danger">
                <strong><%= tithi2.date.strftime("%d/%b/%y") %></strong>
                <br/>
                <%= PanchangTithi::WEEKDAYS[tithi2.date.wday] %>
              </td>
              <td class="text-primary">
                <strong>
                  <%= tithi2.hindi_month.name + " "+ tithi2.paksh + "-"+ tithi2.tithi.to_s %>
                </strong><br/>
                <%= tithi2.description %>
              </td>
            <% end %>
	      	</tr>
	      <% end %>
      <% end %>
    <% else %>
      <td colspan="4">
      	अभी रिकॉर्ड उपलब्ध नहीं है.
      </td>
    <% end %>
  </tbody>
</table>
