<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body h-400">
        <div class="row page-subject-header">
          <div class="col-md-6 text-start article-title text-primary">पंचांग (<%= @panchang.title %>) विवरण</div>
          <div class="col-md-6">
						<% pur_month = @panchang.hindi_months.purshottam_month %>
						<% if current_user.present? %>
							<%= link_to(export_pdf_panchang_path(@panchang.id, format: :pdf), class: "export-pdf fRight", target: "_blank") do %>
								 <i class="fas fa-file-download"></i>
							<% end %>
						<% else %>
							<%= link_to(new_user_session_path, class: "export-pdf fRight", onclick: "alert('Pdf डाउनलोड करने के लिए पहले लॉगिन करे')" ) do %>
								 <i class="fas fa-file-download"></i>
							<% end %>
						<% end %>
          	<%= link_to "पंचांग सूची", panchangs_path, class: "fRight btn btn-primary me-3 mt-2" %>
          </div>
        </div>
		    <div class="dropdown-divider"></div>
        <div class="row" id="panchang_tithi_layout">
        	<%= render "tithi_calendar", tithiya: @panchang_tithiya %>
        </div>
			</div>
		</div>
	</div>
</div>
