<div class="card">
  <div class="card-body h-100">
    <div class="page-subject-header">
      उपयोगकर्ता पासवर्ड अद्यतन फॉर्म
    </div>
    <div class="dropdown-divider"></div>
    <div class="m-sm-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
        <div class="mb-3 alert alert-danger alert-dismissible fade show" style="display: <%= resource.errors.present? ? 'block' : 'none' %>;" role="alert">
          <% resource.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
          <button type="button" class="btn-close" onclick="$('.alert').hide()" aria-label="Close" style="font-size: 12px; "></button>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class='mb-3'>
              <label for='article_type' class='form-label'>
                Current Password <i class="fa fa-asterisk req-field" aria-hidden="true"></i>
              </label>
              <%= form.password_field :current_password, autocomplete: "current-password", class: 'form-control'%>
            </div>

            <div class='mb-3'>
              <label for='article_type' class='form-label'>
                New Password <i class="fa fa-asterisk req-field" aria-hidden="true"></i>
              </label>
              <%= form.password_field :password, autocomplete: "new-password", class: 'form-control'%>
              <% if @minimum_password_length %>
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class='mb-3'>
              <label for='article_type' class='form-label'>
                Password Confirmation <i class="fa fa-asterisk req-field" aria-hidden="true"></i>
              </label>
              <%= form.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'%>
            </div>
          </div>
        </div>

        <div class="actions">
          <%= form.submit "पासवर्ड अद्यतित करे", class: 'btn btn-primary col-md-3' %>
        </div>
      <% end %>
    </div>
    <div class="dropdown-divider"></div>
    <%= link_to "Back", :back %>
  </div>
</div>
